# Switch With Me - JYP feat. Rain Tweet Scraping

In [1]:
from tweetkey import consumer_api_key, consumer_api_secret_key, access_token, access_secret_token

In [2]:
import tweepy
import pandas as pd
import time

In [3]:
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

# Switch With Me - JYP feat. Rain Tweet Scraping | Results in Korean

In [4]:
# search by the band group name and show the results for popular ones up to 150 items
# there is no popular for this one 
# try it for without the result_type
# try it for the mixed or recent for the result_type

# rain_jyp_tweets = tweepy.Cursor(api.search, q='나로 바꾸자', result_type='popular').items(150)
rain_jyp_tweets = tweepy.Cursor(api.search, q='나로 바꾸자', result_type='mixed').items(150)
    
rain_jyp_tweets_list = [[rain_jyp_tweet.created_at, rain_jyp_tweet.id, rain_jyp_tweet.text, 
                      rain_jyp_tweet.favorite_count] 
                     for rain_jyp_tweet in rain_jyp_tweets
                    ]
    
rain_jyp_tweets_df = pd.DataFrame(rain_jyp_tweets_list)

In [5]:
rain_jyp_tweets_df.head()

,0,1,2,3
0,2021-05-13 21:50:07,1392960373410570241,RT @kkayayayaa: 제발 나로 바꾸자\n\n#twice #twicefana...,0
1,2021-05-13 20:02:28,1392933282770083845,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
2,2021-05-13 13:50:33,1392839687350280203,RT @__Moo_12: 나로 바꾸자 https://t.co/jYouBTMj89,0
3,2021-05-13 13:23:28,1392832870528425990,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
4,2021-05-13 12:38:31,1392821557114941442,"우0씨 ,, 나로바꾸자",1

In [6]:
rain_jyp_tweets_df.tail()

,0,1,2,3
121,2021-05-06 15:49:00,1390332779435495426,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
122,2021-05-06 15:48:57,1390332766189887493,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
123,2021-05-06 15:48:43,1390332707981316104,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
124,2021-05-06 14:34:15,1390313967277395974,@qxMSwcFjAEA8AEa 나로 바꾸자 나나나나나나ㅏ,0
125,2021-05-06 10:33:49,1390253462961655808,"나로 바꾸자가 들리니,,,\n용그니 생각이 난다ㅠ",0

In [7]:
rain_jyp_tweets_df

,0,1,2,3
0,2021-05-13 21:50:07,1392960373410570241,RT @kkayayayaa: 제발 나로 바꾸자\n\n#twice #twicefana...,0
1,2021-05-13 20:02:28,1392933282770083845,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
2,2021-05-13 13:50:33,1392839687350280203,RT @__Moo_12: 나로 바꾸자 https://t.co/jYouBTMj89,0
3,2021-05-13 13:23:28,1392832870528425990,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
4,2021-05-13 12:38:31,1392821557114941442,"우0씨 ,, 나로바꾸자",1
...,...,...,...,...
121,2021-05-06 15:49:00,1390332779435495426,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
122,2021-05-06 15:48:57,1390332766189887493,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
123,2021-05-06 15:48:43,1390332707981316104,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
124,2021-05-06 14:34:15,1390313967277395974,@qxMSwcFjAEA8AEa 나로 바꾸자 나나나나나나ㅏ,0
125,2021-05-06 10:33:49,1390253462961655808,"나로 바꾸자가 들리니,,,\n용그니 생각이 난다ㅠ",0

In [8]:
rain_jyp_tweets_df[0] = pd.to_datetime(rain_jyp_tweets_df[0]).dt.date
# rain_jyp_tweets_df

In [9]:
cleaned_jyp_kor = rain_jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_kor

In [10]:
cleaned_jyp_kor_df = cleaned_jyp_kor.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
cleaned_jyp_kor_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-13,RT @kkayayayaa: 제발 나로 바꾸자\n\n#twice #twicefana...,0
1,2021-05-13,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
2,2021-05-13,RT @__Moo_12: 나로 바꾸자 https://t.co/jYouBTMj89,0
3,2021-05-13,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
4,2021-05-13,"우0씨 ,, 나로바꾸자",1
...,...,...,...
121,2021-05-06,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
122,2021-05-06,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
123,2021-05-06,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
124,2021-05-06,@qxMSwcFjAEA8AEa 나로 바꾸자 나나나나나나ㅏ,0
125,2021-05-06,"나로 바꾸자가 들리니,,,\n용그니 생각이 난다ㅠ",0

In [11]:
top_5_bot_5_popular_jype = cleaned_jyp_kor_df.sort_values(by="Popularity Count", ascending=False)

In [12]:
top_5_bot_5_popular_jype.head(5)

,Tweeted Date,Tweet Description,Popularity Count
117,2021-05-07,#엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스엠_무한확장_절대반대\n나...,29
49,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
34,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
67,2021-05-10,.@followjyp on MelOn Daily Chart (210509)\n\n6...,12
18,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12

In [13]:
top_5_bot_5_popular_jype.tail()

,Tweeted Date,Tweet Description,Popularity Count
41,2021-05-11,"#RAINXJYP #비 #RAIN\nRAIN(비) - ""나로 바꾸자 Switch t...",0
40,2021-05-11,#아는형님 #박진영 #비\n💎아형리미티드💎 [풀버전] 레전드의 레전드 무대! 박진영...,0
39,2021-05-11,#TWICE #Switchtome #中字\n[MV中字] TWICE DAHYUN an...,0
38,2021-05-11,#나로바꾸자 #커버댄스 #2인안무\n자매의 취미생활 비(RAIN) X 박진영(JYP...,0
125,2021-05-06,"나로 바꾸자가 들리니,,,\n용그니 생각이 난다ㅠ",0

In [14]:
top_5_bot_5_popular_jype

,Tweeted Date,Tweet Description,Popularity Count
117,2021-05-07,#엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스엠_무한확장_절대반대\n나...,29
49,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
34,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
67,2021-05-10,.@followjyp on MelOn Daily Chart (210509)\n\n6...,12
18,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12
...,...,...,...
41,2021-05-11,"#RAINXJYP #비 #RAIN\nRAIN(비) - ""나로 바꾸자 Switch t...",0
40,2021-05-11,#아는형님 #박진영 #비\n💎아형리미티드💎 [풀버전] 레전드의 레전드 무대! 박진영...,0
39,2021-05-11,#TWICE #Switchtome #中字\n[MV中字] TWICE DAHYUN an...,0
38,2021-05-11,#나로바꾸자 #커버댄스 #2인안무\n자매의 취미생활 비(RAIN) X 박진영(JYP...,0
125,2021-05-06,"나로 바꾸자가 들리니,,,\n용그니 생각이 난다ㅠ",0

In [15]:
top_5_bot_5_popular_jype.to_csv('files/jyp_scraping_kor.csv')

# Switch With Me - JYP feat. Rain Tweet Scraping | Results in English

In [16]:
rain_jyp_eng_tweets = tweepy.Cursor(api.search, q='switch with me JYP Rain', result_type='mixed').items(150)
    
rain_jyp_eng_tweets_list = [[rain_jyp_eng_tweet.created_at, rain_jyp_eng_tweet.id, rain_jyp_eng_tweet.text, 
                      rain_jyp_eng_tweet.favorite_count] 
                     for rain_jyp_eng_tweet in rain_jyp_eng_tweets
                    ]
    
rain_jyp_eng_tweets_df = pd.DataFrame(rain_jyp_eng_tweets_list)

In [17]:
# rain_jyp_eng_tweets_df.head()

In [18]:
# rain_jyp_eng_tweets_df.tail()

In [19]:
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-13 02:53:48,1392674409819762689,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11 18:04:46,1392178886096605192,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11 17:48:35,1392174813494472708,"#RAINXJYP #비 #RAIN\nRAIN(비) - ""나로 바꾸자 Switch t...",0

In [20]:
rain_jyp_eng_tweets_df[0] = pd.to_datetime(rain_jyp_eng_tweets_df[0]).dt.date
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-13,1392674409819762689,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11,1392178886096605192,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11,1392174813494472708,"#RAINXJYP #비 #RAIN\nRAIN(비) - ""나로 바꾸자 Switch t...",0

In [21]:
rain_jyp_eng_tweets_new_df = rain_jyp_eng_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
rain_jyp_eng_tweets_new_df

,Tweeted Date,1,Tweet Description,Popularity Count
0,2021-05-13,1392674409819762689,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11,1392178886096605192,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11,1392174813494472708,"#RAINXJYP #비 #RAIN\nRAIN(비) - ""나로 바꾸자 Switch t...",0

In [22]:
rain_jyp_eng_tweets_cleaned_df = rain_jyp_eng_tweets_new_df.drop([1], axis = 1)
rain_jyp_eng_tweets_cleaned_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-13,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11,"#RAINXJYP #비 #RAIN\nRAIN(비) - ""나로 바꾸자 Switch t...",0

In [23]:
rain_jyp_eng_tweets_cleaned_df.to_csv('files/jyp_scraping_eng.csv')

# Results with JYP and jyp search keyword on Twitter

In [24]:
jyp_tweets = tweepy.Cursor(api.search, q='JYP jyp', result_type='mixed').items(150)
    
jyp_tweets_list = [[jyp_tweet.created_at, jyp_tweet.id, jyp_tweet.text, 
                      jyp_tweet.favorite_count] 
                     for jyp_tweet in jyp_tweets
                    ]
    
jyp_tweets_df = pd.DataFrame(jyp_tweets_list)

In [25]:
jyp_tweets_df

,0,1,2,3
0,2021-05-13 03:10:27,1392678601124765700,The 5 Most Popular K-Pop Idols At JYP Entertai...,2092
1,2021-05-12 04:20:00,1392333713363456001,"Jay B, formerly known as JB of GOT7, has offic...",2763
2,2021-05-12 18:58:52,1392554886483615759,"#NaInWoo Talks About Difficulties Filming ""#Ri...",1431
3,2021-05-13 23:00:01,1392977964304769029,RT @leilqvs: @spearhyunnie PLEASE HIADSGHFODF ...,0
4,2021-05-13 22:59:53,1392977932184956929,jyp eh tao ligada a dança???? ótimos dançarino...,0
...,...,...,...,...
145,2021-05-12 04:14:19,1392332285400150016,カフェ付いてるの〜JYPの福利厚生すごくてびっくりのソンニム2人✨チャンビンのポイントでコー...,9
146,2021-05-12 04:14:17,1392332276483039237,RT @reravare: โปส H1GHR VS ...,0
147,2021-05-12 04:14:01,1392332209684578304,RT @MBT4237: ตอนที่วงหมดสัญญาไม่เคยเสียใจเลยที...,0
148,2021-05-12 04:13:54,1392332180827762692,RT @YUNH0E: hongjoong and minhyuk came togethe...,0
149,2021-05-12 04:13:47,1392332150146363399,RT @bjenggyy: อยากจะบอกว่ากระแสช่วงนั้นเเรงจิง...,0

In [26]:
cleaned_jyp_tweets = jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_tweets

new_jyp_tweets = cleaned_jyp_tweets.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_tweets

sort_jype_tweets = new_jyp_tweets.sort_values(by="Popularity Count", ascending=False)
sort_jype_tweets

,Tweeted Date,Tweet Description,Popularity Count
1,2021-05-12 04:20:00,"Jay B, formerly known as JB of GOT7, has offic...",2763
0,2021-05-13 03:10:27,The 5 Most Popular K-Pop Idols At JYP Entertai...,2092
2,2021-05-12 18:58:52,"#NaInWoo Talks About Difficulties Filming ""#Ri...",1431
55,2021-05-12 04:18:20,o zepeto falou do itzy ontem e hoje a jyp anun...,24
145,2021-05-12 04:14:19,カフェ付いてるの〜JYPの福利厚生すごくてびっくりのソンニム2人✨チャンビンのポイントでコー...,9
...,...,...,...
50,2021-05-12 04:18:39,RT @ajummabakorea: การย้ายออกจากค่ายที่เป็นตำน...,0
51,2021-05-12 04:18:37,RT @jehaislesroses: трирача подбили хонджуна и...,0
52,2021-05-12 04:18:31,RT @YUNH0E: hongjoong and minhyuk came togethe...,0
53,2021-05-12 04:18:24,What is stopping Chan from getting someone fro...,0
149,2021-05-12 04:13:47,RT @bjenggyy: อยากจะบอกว่ากระแสช่วงนั้นเเรงจิง...,0

In [27]:
sort_jype_tweets.head()

,Tweeted Date,Tweet Description,Popularity Count
1,2021-05-12 04:20:00,"Jay B, formerly known as JB of GOT7, has offic...",2763
0,2021-05-13 03:10:27,The 5 Most Popular K-Pop Idols At JYP Entertai...,2092
2,2021-05-12 18:58:52,"#NaInWoo Talks About Difficulties Filming ""#Ri...",1431
55,2021-05-12 04:18:20,o zepeto falou do itzy ontem e hoje a jyp anun...,24
145,2021-05-12 04:14:19,カフェ付いてるの〜JYPの福利厚生すごくてびっくりのソンニム2人✨チャンビンのポイントでコー...,9

In [28]:
sort_jype_tweets.tail()

,Tweeted Date,Tweet Description,Popularity Count
50,2021-05-12 04:18:39,RT @ajummabakorea: การย้ายออกจากค่ายที่เป็นตำน...,0
51,2021-05-12 04:18:37,RT @jehaislesroses: трирача подбили хонджуна и...,0
52,2021-05-12 04:18:31,RT @YUNH0E: hongjoong and minhyuk came togethe...,0
53,2021-05-12 04:18:24,What is stopping Chan from getting someone fro...,0
149,2021-05-12 04:13:47,RT @bjenggyy: อยากจะบอกว่ากระแสช่วงนั้นเเรงจิง...,0

In [29]:
sort_jype_tweets.to_csv('files/just_jyp_scraping_eng.csv')

# Results with JYP in Korean (박진영) on Twitter

In [30]:
jyp_korean_tweets = tweepy.Cursor(api.search, q='박진영', result_type='mixed').items(150)
    
jyp_korean_tweets_list = [[jyp_korean_tweet.created_at, jyp_korean_tweet.id, jyp_korean_tweet.text, 
                      jyp_korean_tweet.favorite_count] 
                     for jyp_korean_tweet in jyp_korean_tweets
                    ]
    
jyp_korean_tweets_df = pd.DataFrame(jyp_korean_tweets_list)

In [31]:
jyp_korean_tweets_df

,0,1,2,3
0,2021-05-13 22:57:31,1392977332843913217,김소연\n이상희\n김선희\n김홍민\n차은희김민선\n이근일\n주영희\n양현아\n안성민...,0
1,2021-05-13 22:39:30,1392972799778689024,RT @GOT7Official: [ #GOT7NOW ]\nAAA에서 배우 박진영으로...,0
2,2021-05-13 22:28:12,1392969956262809601,RT @psy_oppa: [캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초짜 ...,0
3,2021-05-13 22:16:04,1392966901442043905,"이수만은 롤을 그만 둬야하고,\n박진영은 마피아같은 k-게임 그만둬야함.\n\n박진...",0
4,2021-05-13 21:49:28,1392960211300798469,Te extraño\n\n#GOT7 #갓세븐 #Jinyoung #박진영 @GOT7...,4
...,...,...,...,...
145,2021-05-13 13:10:52,1392829701178068993,이런애를 수납해? 박진영 나가 ㅈ ㅜ ㄱ 어 https://t.co/a9FJ6pXTju,0
146,2021-05-13 13:05:01,1392828225143857154,RT @psy_oppa: [캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초짜 ...,0
147,2021-05-13 13:02:17,1392827539446374405,RT @SBSNOW: JYP와 싸이를 초긴장 시킨 \n오디션 참가자의 등장?!\n\...,0
148,2021-05-13 13:02:12,1392827519628312579,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
149,2021-05-13 13:01:39,1392827381652488194,RT @MY97O331: 아니 전문가 평가단 미친거야 ? ..\n시발 차라리 케이팝...,0

In [32]:
cleaned_jyp_korean_tweets_df = jyp_korean_tweets_df.drop([1], axis = 1)
# cleaned_jyp_korean_tweets_df

new_jyp_korean_tweets_df = cleaned_jyp_korean_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_korean_tweets_df

sort_jyp_korean_tweets_df = new_jyp_korean_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
49,2021-05-13 16:33:54,[ VRAC ] - 12.05.21\n\n- IG de Korea Dispatch ...,22
139,2021-05-13 13:23:50,จินยองฝากบอกมาค่ะ\n#Jinyoung #Parkjinyoung #진영...,12
79,2021-05-13 15:24:30,근데 개뜬금없는데\n박지호가 박진영 짤 하면 존나 공포스러울거가틈;;\n자기야 왜 ...,7
74,2021-05-13 15:34:18,En esta fiesta falta Jinyoung 😣\n\n#Jinyoung #...,6
58,2021-05-13 16:16:29,@kirby__day 7월 3일\n악마판사라는 드라마가 나옵니다..\n(타락판사아님...,4
...,...,...,...
42,2021-05-13 16:47:22,RT @screensevens: #JINYOUNG; colored film lock...,0
41,2021-05-13 16:48:26,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
40,2021-05-13 16:54:21,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
39,2021-05-13 16:56:12,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
149,2021-05-13 13:01:39,RT @MY97O331: 아니 전문가 평가단 미친거야 ? ..\n시발 차라리 케이팝...,0

In [33]:
sort_jyp_korean_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
49,2021-05-13 16:33:54,[ VRAC ] - 12.05.21\n\n- IG de Korea Dispatch ...,22
139,2021-05-13 13:23:50,จินยองฝากบอกมาค่ะ\n#Jinyoung #Parkjinyoung #진영...,12
79,2021-05-13 15:24:30,근데 개뜬금없는데\n박지호가 박진영 짤 하면 존나 공포스러울거가틈;;\n자기야 왜 ...,7
74,2021-05-13 15:34:18,En esta fiesta falta Jinyoung 😣\n\n#Jinyoung #...,6
58,2021-05-13 16:16:29,@kirby__day 7월 3일\n악마판사라는 드라마가 나옵니다..\n(타락판사아님...,4

In [34]:
sort_jyp_korean_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
42,2021-05-13 16:47:22,RT @screensevens: #JINYOUNG; colored film lock...,0
41,2021-05-13 16:48:26,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
40,2021-05-13 16:54:21,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
39,2021-05-13 16:56:12,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
149,2021-05-13 13:01:39,RT @MY97O331: 아니 전문가 평가단 미친거야 ? ..\n시발 차라리 케이팝...,0

In [35]:
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
49,2021-05-13 16:33:54,[ VRAC ] - 12.05.21\n\n- IG de Korea Dispatch ...,22
139,2021-05-13 13:23:50,จินยองฝากบอกมาค่ะ\n#Jinyoung #Parkjinyoung #진영...,12
79,2021-05-13 15:24:30,근데 개뜬금없는데\n박지호가 박진영 짤 하면 존나 공포스러울거가틈;;\n자기야 왜 ...,7
74,2021-05-13 15:34:18,En esta fiesta falta Jinyoung 😣\n\n#Jinyoung #...,6
58,2021-05-13 16:16:29,@kirby__day 7월 3일\n악마판사라는 드라마가 나옵니다..\n(타락판사아님...,4
...,...,...,...
42,2021-05-13 16:47:22,RT @screensevens: #JINYOUNG; colored film lock...,0
41,2021-05-13 16:48:26,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
40,2021-05-13 16:54:21,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
39,2021-05-13 16:56:12,RT @SBSNOW: [라우드 캐릭터 영상]\n오디션 베테랑 JYP &amp; 생초...,0
149,2021-05-13 13:01:39,RT @MY97O331: 아니 전문가 평가단 미친거야 ? ..\n시발 차라리 케이팝...,0

In [36]:
sort_jyp_korean_tweets_df.to_csv('files/just_jyp_scraping_kor.csv')