# Switch With Me - JYP feat. Rain Tweet Scraping

In [1]:
from tweetkey import consumer_api_key, consumer_api_secret_key, access_token, access_secret_token

In [2]:
import tweepy
import pandas as pd
import time

In [3]:
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

# Switch With Me - JYP feat. Rain Tweet Scraping | Results in Korean

In [4]:
# search by the band group name and show the results for popular ones up to 150 items
# there is no popular for this one 
# try it for without the result_type
# try it for the mixed or recent for the result_type

# rain_jyp_tweets = tweepy.Cursor(api.search, q='ë‚˜ë¡œ ë°”ê¾¸ì', result_type='popular').items(150)
rain_jyp_tweets = tweepy.Cursor(api.search, q='ë‚˜ë¡œ ë°”ê¾¸ì', result_type='mixed').items(150)
    
rain_jyp_tweets_list = [[rain_jyp_tweet.created_at, rain_jyp_tweet.id, rain_jyp_tweet.text, 
                      rain_jyp_tweet.favorite_count] 
                     for rain_jyp_tweet in rain_jyp_tweets
                    ]
    
rain_jyp_tweets_df = pd.DataFrame(rain_jyp_tweets_list)

In [5]:
rain_jyp_tweets_df.head()

,0,1,2,3
0,2021-05-10 21:15:03,1391864385749065729,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
1,2021-05-10 21:14:58,1391864364081172480,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
2,2021-05-10 21:14:46,1391864313837719554,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
3,2021-05-10 21:14:43,1391864301162582018,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
4,2021-05-10 21:14:41,1391864292002058244,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0

In [6]:
rain_jyp_tweets_df.tail()

,0,1,2,3
145,2021-05-05 15:33:10,1389966407954092032,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
146,2021-05-05 15:06:54,1389959798486011905,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
147,2021-05-05 14:53:01,1389956301598257154,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
148,2021-05-05 14:46:31,1389954667321335820,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
149,2021-05-05 14:29:40,1389950426242453508,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0

In [7]:
rain_jyp_tweets_df

,0,1,2,3
0,2021-05-10 21:15:03,1391864385749065729,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
1,2021-05-10 21:14:58,1391864364081172480,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
2,2021-05-10 21:14:46,1391864313837719554,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
3,2021-05-10 21:14:43,1391864301162582018,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
4,2021-05-10 21:14:41,1391864292002058244,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
...,...,...,...,...
145,2021-05-05 15:33:10,1389966407954092032,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
146,2021-05-05 15:06:54,1389959798486011905,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
147,2021-05-05 14:53:01,1389956301598257154,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
148,2021-05-05 14:46:31,1389954667321335820,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
149,2021-05-05 14:29:40,1389950426242453508,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0

In [10]:
rain_jyp_tweets_df[0] = pd.to_datetime(rain_jyp_tweets_df[0]).dt.date
# rain_jyp_tweets_df

In [12]:
cleaned_jyp_kor = rain_jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_kor

In [13]:
cleaned_jyp_kor_df = cleaned_jyp_kor.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
cleaned_jyp_kor_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-10,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
1,2021-05-10,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
2,2021-05-10,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
3,2021-05-10,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
4,2021-05-10,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
...,...,...,...
145,2021-05-05,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
146,2021-05-05,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
147,2021-05-05,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
148,2021-05-05,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0
149,2021-05-05,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0

In [15]:
top_5_bot_5_popular_jype = cleaned_jyp_kor_df.sort_values(by="Popularity Count", ascending=False)

In [16]:
top_5_bot_5_popular_jype.head(5)

,Tweeted Date,Tweet Description,Popularity Count
141,2021-05-05,[DUBCHAENG MELODY PROJECT]\n\nâ€œë‚˜ë¡œ ë°”ê¾¸ì Switch t...,136
64,2021-05-07,#ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤ì— _ë¬´í•œí™•ì¥_ì ˆëŒ€ë°˜ëŒ€\në‚˜...,28
109,2021-05-05,ğŸ“„ #INFO | El melody project de Dahyun y Chaey...,17
13,2021-05-10,.@followjyp on MelOn Daily Chart (210509)\n\n6...,11
8,2021-05-10,ë§ˆìŒì´ ìš¸ì í• ë•Œ ê½ƒì²˜ëŸ¼ í™”ì‚¬í•œ\në°ì€ ë§ˆìŒìœ¼ë¡œ ê¸°ë¶„ì „í™˜ ^^ğŸŒ·ğŸ€\në‚ ì”¨ë„ ë¹„ì˜¤ê³ í...,4

In [17]:
top_5_bot_5_popular_jype.tail()

,Tweeted Date,Tweet Description,Popularity Count
53,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
54,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
55,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
56,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
149,2021-05-05,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0

In [22]:
top_5_bot_5_popular_jype

,Tweeted Date,Tweet Description,Popularity Count
141,2021-05-05,[DUBCHAENG MELODY PROJECT]\n\nâ€œë‚˜ë¡œ ë°”ê¾¸ì Switch t...,136
64,2021-05-07,#ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤ì— _ë¬´í•œí™•ì¥_ì ˆëŒ€ë°˜ëŒ€\në‚˜...,28
109,2021-05-05,ğŸ“„ #INFO | El melody project de Dahyun y Chaey...,17
13,2021-05-10,.@followjyp on MelOn Daily Chart (210509)\n\n6...,11
8,2021-05-10,ë§ˆìŒì´ ìš¸ì í• ë•Œ ê½ƒì²˜ëŸ¼ í™”ì‚¬í•œ\në°ì€ ë§ˆìŒìœ¼ë¡œ ê¸°ë¶„ì „í™˜ ^^ğŸŒ·ğŸ€\në‚ ì”¨ë„ ë¹„ì˜¤ê³ í...,4
...,...,...,...
53,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
54,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
55,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
56,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
149,2021-05-05,RT @txtjour: ğŸ§¸ ë„¤ ë‚¨ì˜ ë³¸ì ì€ ì—†ì–´ë„~~~~!!!! \n\në‚˜ë¡œ ë°”ê¾¸ì...,0

# Switch With Me - JYP feat. Rain Tweet Scraping | Results in English

In [18]:
rain_jyp_eng_tweets = tweepy.Cursor(api.search, q='switch with me JYP Rain', result_type='mixed').items(150)
    
rain_jyp_eng_tweets_list = [[rain_jyp_eng_tweet.created_at, rain_jyp_eng_tweet.id, rain_jyp_eng_tweet.text, 
                      rain_jyp_eng_tweet.favorite_count] 
                     for rain_jyp_eng_tweet in rain_jyp_eng_tweets
                    ]
    
rain_jyp_eng_tweets_df = pd.DataFrame(rain_jyp_eng_tweets_list)

In [19]:
# rain_jyp_eng_tweets_df.head()

In [20]:
# rain_jyp_eng_tweets_df.tail()

In [21]:
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-04 12:05:03,1389551647152476170,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0
1,2021-05-03 13:46:54,1389214887016947715,"ã‚µãƒ³ãƒ‰ã‚¥ã€å­¦æ ¡ã¸è¡Œã“ã†ï¼\n\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me...",0
2,2021-05-03 12:50:31,1389200700756742149,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0

In [23]:
rain_jyp_eng_tweets_df[0] = pd.to_datetime(rain_jyp_eng_tweets_df[0]).dt.date
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-04,1389551647152476170,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0
1,2021-05-03,1389214887016947715,"ã‚µãƒ³ãƒ‰ã‚¥ã€å­¦æ ¡ã¸è¡Œã“ã†ï¼\n\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me...",0
2,2021-05-03,1389200700756742149,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0

In [24]:
rain_jyp_eng_tweets_new_df = rain_jyp_eng_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
rain_jyp_eng_tweets_new_df

,Tweeted Date,1,Tweet Description,Popularity Count
0,2021-05-04,1389551647152476170,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0
1,2021-05-03,1389214887016947715,"ã‚µãƒ³ãƒ‰ã‚¥ã€å­¦æ ¡ã¸è¡Œã“ã†ï¼\n\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me...",0
2,2021-05-03,1389200700756742149,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0

In [25]:
rain_jyp_eng_tweets_cleaned_df = rain_jyp_eng_tweets_new_df.drop([1], axis = 1)
rain_jyp_eng_tweets_cleaned_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-04,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0
1,2021-05-03,"ã‚µãƒ³ãƒ‰ã‚¥ã€å­¦æ ¡ã¸è¡Œã“ã†ï¼\n\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me...",0
2,2021-05-03,"RAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP)...",0

# Results with JYP and jyp search keyword on Twitter

In [26]:
jyp_tweets = tweepy.Cursor(api.search, q='JYP jyp', result_type='mixed').items(150)
    
jyp_tweets_list = [[jyp_tweet.created_at, jyp_tweet.id, jyp_tweet.text, 
                      jyp_tweet.favorite_count] 
                     for jyp_tweet in jyp_tweets
                    ]
    
jyp_tweets_df = pd.DataFrame(jyp_tweets_list)

In [27]:
jyp_tweets_df

,0,1,2,3
0,2021-05-10 09:30:00,1391686952131469315,à¹€à¸›à¸´à¸”à¸à¸£à¸µ! #TWICE The 10th Mini Album &lt;Taste ...,277
1,2021-05-10 06:12:10,1391637164761378821,à¹ƒà¸„à¸£à¸„à¸´à¸”à¸–à¸¶à¸‡ ITZY à¸à¸§à¸à¹€à¸˜à¸­à¸¡à¸²à¸—à¸±à¸à¸—à¸²à¸¢à¹à¸¥à¹‰à¸§â€¦\nà¸à¸šà¸ªà¸±à¸¡à¸ à¸²à¸©à¸“à¹Œ...,708
2,2021-05-05 13:02:41,1389928538967400449,à¸¡à¸²à¹à¸¥à¹‰à¸§à¸§ à¹ƒà¸„à¸£à¸„à¸´à¸”à¸–à¸¶à¸‡à¸ªà¸²à¸§ à¹† #ITZY à¸¡à¸²à¸”à¸¹à¹„à¸¥à¸Ÿà¹Œà¸à¸±à¸™à¸™à¸™ ğŸ’›\n...,6880
3,2021-05-10 23:28:05,1391897863098146816,como q jyp paso al mÃ¡s alla? ğŸ•´ï¸,0
4,2021-05-10 23:27:36,1391897743182942209,RT @3jinprotector: #nayeon #twice im 1 jype jy...,0
...,...,...,...,...
145,2021-05-05 12:50:50,1389925554367782917,RT @perrie_ntc: à¸–à¹‰à¸²à¸à¸¹à¸”à¸–à¸¶à¸‡à¹€à¸£à¸·à¹ˆà¸­à¸‡à¹à¸­à¸£à¹Œà¹„à¸—à¸¡à¹Œ à¸™à¸µà¹ˆà¸ªà¸‡à¸ª...,0
146,2021-05-05 12:50:49,1389925551201083392,RT @JYPTHAILAND: [REMINDER] &lt; #SHOPEExITZY ...,0
147,2021-05-05 12:50:25,1389925450072403969,RT @JIHY0R0CK: #ApoyoAlEsmad\n#VandalosAsesino...,0
148,2021-05-05 12:50:20,1389925428182257669,#ApoyoAlEsmad\n#VandalosAsesinos #RepudioAlVan...,9
149,2021-05-05 12:50:02,1389925354794471424,@allkpop His girl crush concept songs are dece...,1

In [36]:
cleaned_jyp_tweets = jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_tweets

new_jyp_tweets = cleaned_jyp_tweets.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_tweets

sort_jype_tweets = new_jyp_tweets.sort_values(by="Popularity Count", ascending=False)
sort_jype_tweets

,Tweeted Date,Tweet Description,Popularity Count
2,2021-05-05 13:02:41,à¸¡à¸²à¹à¸¥à¹‰à¸§à¸§ à¹ƒà¸„à¸£à¸„à¸´à¸”à¸–à¸¶à¸‡à¸ªà¸²à¸§ à¹† #ITZY à¸¡à¸²à¸”à¸¹à¹„à¸¥à¸Ÿà¹Œà¸à¸±à¸™à¸™à¸™ ğŸ’›\n...,6880
1,2021-05-10 06:12:10,à¹ƒà¸„à¸£à¸„à¸´à¸”à¸–à¸¶à¸‡ ITZY à¸à¸§à¸à¹€à¸˜à¸­à¸¡à¸²à¸—à¸±à¸à¸—à¸²à¸¢à¹à¸¥à¹‰à¸§â€¦\nà¸à¸šà¸ªà¸±à¸¡à¸ à¸²à¸©à¸“à¹Œ...,708
0,2021-05-10 09:30:00,à¹€à¸›à¸´à¸”à¸à¸£à¸µ! #TWICE The 10th Mini Album &lt;Taste ...,277
40,2021-05-05 12:59:49,-tsk @Stray_Kids \n\nhello ğŸ€ i'm looking for m...,19
60,2021-05-05 12:57:59,210505 #ì „ì§€ì ì¿¤ì‹œì #ep7\n\níŒ€ì¥ë‹˜í•œí…Œ í˜¼ë‚˜ê³ \nì˜ì‚¬ì„ ìƒë‹˜í•œí…Œ í˜¼ë‚˜ê³ ...,15
...,...,...,...
56,2021-05-05 12:58:16,@tzuicidal Jyp is going to hell,0
55,2021-05-05 12:58:41,RT @ShopeeTH: BIG SURPRISE FOR THAI #MIDZY ğŸ’›\n...,0
54,2021-05-05 12:58:42,RT @MySuzythailand: à¸‹à¸¹à¸ˆà¸µà¸¡à¸²à¸­à¸­à¸”à¸´à¸Šà¸±à¹ˆà¸™à¸£à¸²à¸¢à¸à¸²à¸£ Super...,0
53,2021-05-05 12:58:43,RT @perrie_ntc: à¸–à¹‰à¸²à¸à¸¹à¸”à¸–à¸¶à¸‡à¹€à¸£à¸·à¹ˆà¸­à¸‡à¹à¸­à¸£à¹Œà¹„à¸—à¸¡à¹Œ à¸™à¸µà¹ˆà¸ªà¸‡à¸ª...,0
75,2021-05-05 12:56:32,RT @perrie_ntc: à¸–à¹‰à¸²à¸à¸¹à¸”à¸–à¸¶à¸‡à¹€à¸£à¸·à¹ˆà¸­à¸‡à¹à¸­à¸£à¹Œà¹„à¸—à¸¡à¹Œ à¸™à¸µà¹ˆà¸ªà¸‡à¸ª...,0

In [50]:
sort_jype_tweets.head()

,Tweeted Date,Tweet Description,Popularity Count
2,2021-05-05 13:02:41,à¸¡à¸²à¹à¸¥à¹‰à¸§à¸§ à¹ƒà¸„à¸£à¸„à¸´à¸”à¸–à¸¶à¸‡à¸ªà¸²à¸§ à¹† #ITZY à¸¡à¸²à¸”à¸¹à¹„à¸¥à¸Ÿà¹Œà¸à¸±à¸™à¸™à¸™ ğŸ’›\n...,6880
1,2021-05-10 06:12:10,à¹ƒà¸„à¸£à¸„à¸´à¸”à¸–à¸¶à¸‡ ITZY à¸à¸§à¸à¹€à¸˜à¸­à¸¡à¸²à¸—à¸±à¸à¸—à¸²à¸¢à¹à¸¥à¹‰à¸§â€¦\nà¸à¸šà¸ªà¸±à¸¡à¸ à¸²à¸©à¸“à¹Œ...,708
0,2021-05-10 09:30:00,à¹€à¸›à¸´à¸”à¸à¸£à¸µ! #TWICE The 10th Mini Album &lt;Taste ...,277
40,2021-05-05 12:59:49,-tsk @Stray_Kids \n\nhello ğŸ€ i'm looking for m...,19
60,2021-05-05 12:57:59,210505 #ì „ì§€ì ì¿¤ì‹œì #ep7\n\níŒ€ì¥ë‹˜í•œí…Œ í˜¼ë‚˜ê³ \nì˜ì‚¬ì„ ìƒë‹˜í•œí…Œ í˜¼ë‚˜ê³ ...,15

In [51]:
sort_jype_tweets.tail()

,Tweeted Date,Tweet Description,Popularity Count
56,2021-05-05 12:58:16,@tzuicidal Jyp is going to hell,0
55,2021-05-05 12:58:41,RT @ShopeeTH: BIG SURPRISE FOR THAI #MIDZY ğŸ’›\n...,0
54,2021-05-05 12:58:42,RT @MySuzythailand: à¸‹à¸¹à¸ˆà¸µà¸¡à¸²à¸­à¸­à¸”à¸´à¸Šà¸±à¹ˆà¸™à¸£à¸²à¸¢à¸à¸²à¸£ Super...,0
53,2021-05-05 12:58:43,RT @perrie_ntc: à¸–à¹‰à¸²à¸à¸¹à¸”à¸–à¸¶à¸‡à¹€à¸£à¸·à¹ˆà¸­à¸‡à¹à¸­à¸£à¹Œà¹„à¸—à¸¡à¹Œ à¸™à¸µà¹ˆà¸ªà¸‡à¸ª...,0
75,2021-05-05 12:56:32,RT @perrie_ntc: à¸–à¹‰à¸²à¸à¸¹à¸”à¸–à¸¶à¸‡à¹€à¸£à¸·à¹ˆà¸­à¸‡à¹à¸­à¸£à¹Œà¹„à¸—à¸¡à¹Œ à¸™à¸µà¹ˆà¸ªà¸‡à¸ª...,0

# Results with JYP in Korean (ë°•ì§„ì˜) on Twitter

In [52]:
jyp_korean_tweets = tweepy.Cursor(api.search, q='ë°•ì§„ì˜', result_type='mixed').items(150)
    
jyp_korean_tweets_list = [[jyp_korean_tweet.created_at, jyp_korean_tweet.id, jyp_korean_tweet.text, 
                      jyp_korean_tweet.favorite_count] 
                     for jyp_korean_tweet in jyp_korean_tweets
                    ]
    
jyp_korean_tweets_df = pd.DataFrame(jyp_korean_tweets_list)

In [53]:
jyp_korean_tweets_df

,0,1,2,3
0,2021-05-10 23:49:59,1391903373184540672,@_02M0 ê·¸ëŸ´ ìˆ˜ë„.. ê·¸ì¹˜ë§Œ ë°•ì§„ì˜ ì–˜ê¸° íŒ¬ì‹¸ì—ì„œ í•˜ë©´ ì§„ì§œ ì € í°ì¼ ë‚ ê±° ...,0
1,2021-05-10 23:47:57,1391902864646098946,@_02M0 í— ì €ë¥¼ ìœ„í•œ ë§ì¶¤í˜•íŒ¬ì‹¸ì§ˆë¬¸ì´ì—‡êµ¼ì—¬.. ì € ì§€ê¸ˆ ê·¸ê±° ê¹¨ë‹«ê³ ê°ë™ ë°›ì•˜...,0
2,2021-05-10 23:39:15,1391900675651477509,RT @JuneJune770: à¹à¸à¹‰à¸à¸µà¹ˆà¹€à¸ªà¸·à¸­à¸¥à¸¸à¸„à¸™à¸µà¹‰à¸ˆà¸±à¸‡â€‹ à¹„à¸¡à¹ˆà¹à¸œà¹ˆà¸§à¹€...,0
3,2021-05-10 23:37:43,1391900288257196033,ë¹„ê±°ë‹ˆì¦˜ì€ ì² í•™ì¼ ë¿ì´ë‹¤. ë°•ì§„ì˜Â·ì‹ í•˜ë‚˜ ëŒ€í‘œëŠ” ë¹„ê±´ì„ ì–¼ë§ˆë‚˜ ì™„ë²½í•˜ê²Œ ì‹¤ì²œí•˜ëŠ”ì§€ëŠ”...,0
4,2021-05-10 23:37:19,1391900185375035398,RT @reasonforgot7: ë°•ì§„ì˜ğŸ’ší™ˆëŸ°ë³¼ https://t.co/5q2jOd...,0
...,...,...,...,...
145,2021-05-10 16:04:48,1391786305885859840,RT @reasonforgot7: ë°•ì§„ì˜ğŸ’ší™ˆëŸ°ë³¼ https://t.co/5q2jOd...,0
146,2021-05-10 16:04:36,1391786259018752008,@hioh_hioh ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ì €ë„ ì²¨ì— í•˜ë‹ˆë¿ ì „ì ë•Œë¬¸ì— ì¤„ì„ë§ì¸...,0
147,2021-05-10 16:04:09,1391786145747374081,RT @reasonforgot7: ë°•ì§„ì˜ğŸ’ší™ˆëŸ°ë³¼ https://t.co/5q2jOd...,0
148,2021-05-10 16:03:08,1391785888137449472,RT @screensevens: #JINYOUNG; bc it's been a lo...,0
149,2021-05-10 16:02:35,1391785751314984962,ê°“ì„¸ë¸ ì£¼ë‹ˆì–´ ë°•ì§„ì˜ ì‚¬ë‘ì•„ ì§„ì˜í•´!â™¡,0

In [54]:
cleaned_jyp_korean_tweets_df = jyp_korean_tweets_df.drop([1], axis = 1)
# cleaned_jyp_korean_tweets_df

new_jyp_korean_tweets_df = cleaned_jyp_korean_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_korean_tweets_df

sort_jyp_korean_tweets_df = new_jyp_korean_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
96,2021-05-10 17:54:35,"Oh my god , I can't . What is this\nIt's so fu...",7
98,2021-05-10 17:53:33,Jinyoung iron manğŸ˜±ğŸ˜±ğŸ˜±\n#Jinyoung #ì§„ì˜ #ë°•ì§„ì˜ #GOT7...,5
95,2021-05-10 17:56:10,My Spiderman jinyoung is so perfect.\nI'm in l...,4
101,2021-05-10 17:45:50,ì•„ íˆë°œ ë°•ì§„ì˜ ì˜¬ë ¸ë”ë‹ˆ ì°ë ¸ë‹¤ ì£„ì†¡í•©ë‹ˆë‹¤,4
59,2021-05-10 19:12:51,Jinyoung did thatâ¤ï¸ğŸ˜\n#Jinyoung #ì§„ì˜ #ë°•ì§„ì˜ #æœ´çæ¦® ...,3
...,...,...,...
54,2021-05-10 19:44:49,RT @jjjjjjjeab: à¸•à¸²à¸¡à¸«à¸²à¸ˆà¹‰à¸²ğŸ“¢ à¸„à¸™à¸—à¸µà¹ˆà¸«à¸¥à¹ˆà¸­à¹† à¹„à¸¡à¹ˆà¸¡à¸µà¸£à¸­à¸¢...,0
55,2021-05-10 19:33:20,ê°“ì„¸ë¸ ì£¼ë‹ˆì–´ ë°•ì§„ì˜ ì§„ì˜ì´ ê¹Œë©´ ì‚¬ì‚´ (((ì§„ì˜))),0
56,2021-05-10 19:32:52,ê¹€ê¸°í˜„\nì´ì°½í›ˆ\nì •ì¬ë™\nì´ì •ì—°\nìµœë¯¼í˜¸ì´ì§€ì˜\nì•ˆì†¡ì´\nì´ë‚¨í›ˆ\nê¹€ì€ë¹ˆ\nìœ ê²½í˜œ...,0
57,2021-05-10 19:28:03,RT @reasonforgot7: ë°•ì§„ì˜ğŸ’ší™ˆëŸ°ë³¼ https://t.co/5q2jOd...,0
149,2021-05-10 16:02:35,ê°“ì„¸ë¸ ì£¼ë‹ˆì–´ ë°•ì§„ì˜ ì‚¬ë‘ì•„ ì§„ì˜í•´!â™¡,0

In [55]:
sort_jyp_korean_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
96,2021-05-10 17:54:35,"Oh my god , I can't . What is this\nIt's so fu...",7
98,2021-05-10 17:53:33,Jinyoung iron manğŸ˜±ğŸ˜±ğŸ˜±\n#Jinyoung #ì§„ì˜ #ë°•ì§„ì˜ #GOT7...,5
95,2021-05-10 17:56:10,My Spiderman jinyoung is so perfect.\nI'm in l...,4
101,2021-05-10 17:45:50,ì•„ íˆë°œ ë°•ì§„ì˜ ì˜¬ë ¸ë”ë‹ˆ ì°ë ¸ë‹¤ ì£„ì†¡í•©ë‹ˆë‹¤,4
59,2021-05-10 19:12:51,Jinyoung did thatâ¤ï¸ğŸ˜\n#Jinyoung #ì§„ì˜ #ë°•ì§„ì˜ #æœ´çæ¦® ...,3

In [56]:
sort_jyp_korean_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
54,2021-05-10 19:44:49,RT @jjjjjjjeab: à¸•à¸²à¸¡à¸«à¸²à¸ˆà¹‰à¸²ğŸ“¢ à¸„à¸™à¸—à¸µà¹ˆà¸«à¸¥à¹ˆà¸­à¹† à¹„à¸¡à¹ˆà¸¡à¸µà¸£à¸­à¸¢...,0
55,2021-05-10 19:33:20,ê°“ì„¸ë¸ ì£¼ë‹ˆì–´ ë°•ì§„ì˜ ì§„ì˜ì´ ê¹Œë©´ ì‚¬ì‚´ (((ì§„ì˜))),0
56,2021-05-10 19:32:52,ê¹€ê¸°í˜„\nì´ì°½í›ˆ\nì •ì¬ë™\nì´ì •ì—°\nìµœë¯¼í˜¸ì´ì§€ì˜\nì•ˆì†¡ì´\nì´ë‚¨í›ˆ\nê¹€ì€ë¹ˆ\nìœ ê²½í˜œ...,0
57,2021-05-10 19:28:03,RT @reasonforgot7: ë°•ì§„ì˜ğŸ’ší™ˆëŸ°ë³¼ https://t.co/5q2jOd...,0
149,2021-05-10 16:02:35,ê°“ì„¸ë¸ ì£¼ë‹ˆì–´ ë°•ì§„ì˜ ì‚¬ë‘ì•„ ì§„ì˜í•´!â™¡,0

In [57]:
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
96,2021-05-10 17:54:35,"Oh my god , I can't . What is this\nIt's so fu...",7
98,2021-05-10 17:53:33,Jinyoung iron manğŸ˜±ğŸ˜±ğŸ˜±\n#Jinyoung #ì§„ì˜ #ë°•ì§„ì˜ #GOT7...,5
95,2021-05-10 17:56:10,My Spiderman jinyoung is so perfect.\nI'm in l...,4
101,2021-05-10 17:45:50,ì•„ íˆë°œ ë°•ì§„ì˜ ì˜¬ë ¸ë”ë‹ˆ ì°ë ¸ë‹¤ ì£„ì†¡í•©ë‹ˆë‹¤,4
59,2021-05-10 19:12:51,Jinyoung did thatâ¤ï¸ğŸ˜\n#Jinyoung #ì§„ì˜ #ë°•ì§„ì˜ #æœ´çæ¦® ...,3
...,...,...,...
54,2021-05-10 19:44:49,RT @jjjjjjjeab: à¸•à¸²à¸¡à¸«à¸²à¸ˆà¹‰à¸²ğŸ“¢ à¸„à¸™à¸—à¸µà¹ˆà¸«à¸¥à¹ˆà¸­à¹† à¹„à¸¡à¹ˆà¸¡à¸µà¸£à¸­à¸¢...,0
55,2021-05-10 19:33:20,ê°“ì„¸ë¸ ì£¼ë‹ˆì–´ ë°•ì§„ì˜ ì§„ì˜ì´ ê¹Œë©´ ì‚¬ì‚´ (((ì§„ì˜))),0
56,2021-05-10 19:32:52,ê¹€ê¸°í˜„\nì´ì°½í›ˆ\nì •ì¬ë™\nì´ì •ì—°\nìµœë¯¼í˜¸ì´ì§€ì˜\nì•ˆì†¡ì´\nì´ë‚¨í›ˆ\nê¹€ì€ë¹ˆ\nìœ ê²½í˜œ...,0
57,2021-05-10 19:28:03,RT @reasonforgot7: ë°•ì§„ì˜ğŸ’ší™ˆëŸ°ë³¼ https://t.co/5q2jOd...,0
149,2021-05-10 16:02:35,ê°“ì„¸ë¸ ì£¼ë‹ˆì–´ ë°•ì§„ì˜ ì‚¬ë‘ì•„ ì§„ì˜í•´!â™¡,0

In [58]:
sort_jyp_korean_tweets_df.to_csv("files/jyp_scraping.csv")