# Switch With Me - JYP feat. Rain Tweet Scraping

In [1]:
from tweetkey import consumer_api_key, consumer_api_secret_key, access_token, access_secret_token

In [2]:
import tweepy
import pandas as pd
import time

In [3]:
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

# Switch With Me - JYP feat. Rain Tweet Scraping | Results in Korean

In [4]:
# search by the band group name and show the results for popular ones up to 150 items
# there is no popular for this one 
# try it for without the result_type
# try it for the mixed or recent for the result_type

# rain_jyp_tweets = tweepy.Cursor(api.search, q='ë‚˜ë¡œ ë°”ê¾¸ì', result_type='popular').items(150)
rain_jyp_tweets = tweepy.Cursor(api.search, q='ë‚˜ë¡œ ë°”ê¾¸ì', result_type='mixed').items(150)
    
rain_jyp_tweets_list = [[rain_jyp_tweet.created_at, rain_jyp_tweet.id, rain_jyp_tweet.text, 
                      rain_jyp_tweet.favorite_count] 
                     for rain_jyp_tweet in rain_jyp_tweets
                    ]
    
rain_jyp_tweets_df = pd.DataFrame(rain_jyp_tweets_list)

In [5]:
rain_jyp_tweets_df.head()

,0,1,2,3
0,2021-05-13 21:50:07,1392960373410570241,RT @kkayayayaa: ì œë°œ ë‚˜ë¡œ ë°”ê¾¸ì\n\n#twice #twicefana...,0
1,2021-05-13 20:02:28,1392933282770083845,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
2,2021-05-13 13:50:33,1392839687350280203,RT @__Moo_12: ë‚˜ë¡œ ë°”ê¾¸ì https://t.co/jYouBTMj89,0
3,2021-05-13 13:23:28,1392832870528425990,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
4,2021-05-13 12:38:31,1392821557114941442,"ìš°0ì”¨ ,, ë‚˜ë¡œë°”ê¾¸ì",1

In [6]:
rain_jyp_tweets_df.tail()

,0,1,2,3
121,2021-05-06 15:49:00,1390332779435495426,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
122,2021-05-06 15:48:57,1390332766189887493,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
123,2021-05-06 15:48:43,1390332707981316104,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
124,2021-05-06 14:34:15,1390313967277395974,@qxMSwcFjAEA8AEa ë‚˜ë¡œ ë°”ê¾¸ì ë‚˜ë‚˜ë‚˜ë‚˜ë‚˜ë‚˜ã…,0
125,2021-05-06 10:33:49,1390253462961655808,"ë‚˜ë¡œ ë°”ê¾¸ìê°€ ë“¤ë¦¬ë‹ˆ,,,\nìš©ê·¸ë‹ˆ ìƒê°ì´ ë‚œë‹¤ã…",0

In [7]:
rain_jyp_tweets_df

,0,1,2,3
0,2021-05-13 21:50:07,1392960373410570241,RT @kkayayayaa: ì œë°œ ë‚˜ë¡œ ë°”ê¾¸ì\n\n#twice #twicefana...,0
1,2021-05-13 20:02:28,1392933282770083845,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
2,2021-05-13 13:50:33,1392839687350280203,RT @__Moo_12: ë‚˜ë¡œ ë°”ê¾¸ì https://t.co/jYouBTMj89,0
3,2021-05-13 13:23:28,1392832870528425990,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
4,2021-05-13 12:38:31,1392821557114941442,"ìš°0ì”¨ ,, ë‚˜ë¡œë°”ê¾¸ì",1
...,...,...,...,...
121,2021-05-06 15:49:00,1390332779435495426,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
122,2021-05-06 15:48:57,1390332766189887493,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
123,2021-05-06 15:48:43,1390332707981316104,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
124,2021-05-06 14:34:15,1390313967277395974,@qxMSwcFjAEA8AEa ë‚˜ë¡œ ë°”ê¾¸ì ë‚˜ë‚˜ë‚˜ë‚˜ë‚˜ë‚˜ã…,0
125,2021-05-06 10:33:49,1390253462961655808,"ë‚˜ë¡œ ë°”ê¾¸ìê°€ ë“¤ë¦¬ë‹ˆ,,,\nìš©ê·¸ë‹ˆ ìƒê°ì´ ë‚œë‹¤ã…",0

In [8]:
rain_jyp_tweets_df[0] = pd.to_datetime(rain_jyp_tweets_df[0]).dt.date
# rain_jyp_tweets_df

In [9]:
cleaned_jyp_kor = rain_jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_kor

In [10]:
cleaned_jyp_kor_df = cleaned_jyp_kor.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
cleaned_jyp_kor_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-13,RT @kkayayayaa: ì œë°œ ë‚˜ë¡œ ë°”ê¾¸ì\n\n#twice #twicefana...,0
1,2021-05-13,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
2,2021-05-13,RT @__Moo_12: ë‚˜ë¡œ ë°”ê¾¸ì https://t.co/jYouBTMj89,0
3,2021-05-13,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
4,2021-05-13,"ìš°0ì”¨ ,, ë‚˜ë¡œë°”ê¾¸ì",1
...,...,...,...
121,2021-05-06,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
122,2021-05-06,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
123,2021-05-06,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
124,2021-05-06,@qxMSwcFjAEA8AEa ë‚˜ë¡œ ë°”ê¾¸ì ë‚˜ë‚˜ë‚˜ë‚˜ë‚˜ë‚˜ã…,0
125,2021-05-06,"ë‚˜ë¡œ ë°”ê¾¸ìê°€ ë“¤ë¦¬ë‹ˆ,,,\nìš©ê·¸ë‹ˆ ìƒê°ì´ ë‚œë‹¤ã…",0

In [11]:
top_5_bot_5_popular_jype = cleaned_jyp_kor_df.sort_values(by="Popularity Count", ascending=False)

In [12]:
top_5_bot_5_popular_jype.head(5)

,Tweeted Date,Tweet Description,Popularity Count
117,2021-05-07,#ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤ì— _ë¬´í•œí™•ì¥_ì ˆëŒ€ë°˜ëŒ€\në‚˜...,29
49,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
34,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
67,2021-05-10,.@followjyp on MelOn Daily Chart (210509)\n\n6...,12
18,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12

In [13]:
top_5_bot_5_popular_jype.tail()

,Tweeted Date,Tweet Description,Popularity Count
41,2021-05-11,"#RAINXJYP #ë¹„ #RAIN\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch t...",0
40,2021-05-11,#ì•„ëŠ”í˜•ë‹˜ #ë°•ì§„ì˜ #ë¹„\nğŸ’ì•„í˜•ë¦¬ë¯¸í‹°ë“œğŸ’ [í’€ë²„ì „] ë ˆì „ë“œì˜ ë ˆì „ë“œ ë¬´ëŒ€! ë°•ì§„ì˜...,0
39,2021-05-11,#TWICE #Switchtome #ä¸­å­—\n[MVä¸­å­—] TWICE DAHYUN an...,0
38,2021-05-11,#ë‚˜ë¡œë°”ê¾¸ì #ì»¤ë²„ëŒ„ìŠ¤ #2ì¸ì•ˆë¬´\nìë§¤ì˜ ì·¨ë¯¸ìƒí™œ ë¹„(RAIN) X ë°•ì§„ì˜(JYP...,0
125,2021-05-06,"ë‚˜ë¡œ ë°”ê¾¸ìê°€ ë“¤ë¦¬ë‹ˆ,,,\nìš©ê·¸ë‹ˆ ìƒê°ì´ ë‚œë‹¤ã…",0

In [14]:
top_5_bot_5_popular_jype

,Tweeted Date,Tweet Description,Popularity Count
117,2021-05-07,#ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤ì— _ë¬´í•œí™•ì¥_ì ˆëŒ€ë°˜ëŒ€\në‚˜...,29
49,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
34,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
67,2021-05-10,.@followjyp on MelOn Daily Chart (210509)\n\n6...,12
18,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12
...,...,...,...
41,2021-05-11,"#RAINXJYP #ë¹„ #RAIN\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch t...",0
40,2021-05-11,#ì•„ëŠ”í˜•ë‹˜ #ë°•ì§„ì˜ #ë¹„\nğŸ’ì•„í˜•ë¦¬ë¯¸í‹°ë“œğŸ’ [í’€ë²„ì „] ë ˆì „ë“œì˜ ë ˆì „ë“œ ë¬´ëŒ€! ë°•ì§„ì˜...,0
39,2021-05-11,#TWICE #Switchtome #ä¸­å­—\n[MVä¸­å­—] TWICE DAHYUN an...,0
38,2021-05-11,#ë‚˜ë¡œë°”ê¾¸ì #ì»¤ë²„ëŒ„ìŠ¤ #2ì¸ì•ˆë¬´\nìë§¤ì˜ ì·¨ë¯¸ìƒí™œ ë¹„(RAIN) X ë°•ì§„ì˜(JYP...,0
125,2021-05-06,"ë‚˜ë¡œ ë°”ê¾¸ìê°€ ë“¤ë¦¬ë‹ˆ,,,\nìš©ê·¸ë‹ˆ ìƒê°ì´ ë‚œë‹¤ã…",0

In [15]:
top_5_bot_5_popular_jype.to_csv('files/jyp_scraping_kor.csv')

# Switch With Me - JYP feat. Rain Tweet Scraping | Results in English

In [16]:
rain_jyp_eng_tweets = tweepy.Cursor(api.search, q='switch with me JYP Rain', result_type='mixed').items(150)
    
rain_jyp_eng_tweets_list = [[rain_jyp_eng_tweet.created_at, rain_jyp_eng_tweet.id, rain_jyp_eng_tweet.text, 
                      rain_jyp_eng_tweet.favorite_count] 
                     for rain_jyp_eng_tweet in rain_jyp_eng_tweets
                    ]
    
rain_jyp_eng_tweets_df = pd.DataFrame(rain_jyp_eng_tweets_list)

In [17]:
# rain_jyp_eng_tweets_df.head()

In [18]:
# rain_jyp_eng_tweets_df.tail()

In [19]:
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-13 02:53:48,1392674409819762689,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11 18:04:46,1392178886096605192,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11 17:48:35,1392174813494472708,"#RAINXJYP #ë¹„ #RAIN\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch t...",0

In [20]:
rain_jyp_eng_tweets_df[0] = pd.to_datetime(rain_jyp_eng_tweets_df[0]).dt.date
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-13,1392674409819762689,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11,1392178886096605192,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11,1392174813494472708,"#RAINXJYP #ë¹„ #RAIN\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch t...",0

In [21]:
rain_jyp_eng_tweets_new_df = rain_jyp_eng_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
rain_jyp_eng_tweets_new_df

,Tweeted Date,1,Tweet Description,Popularity Count
0,2021-05-13,1392674409819762689,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11,1392178886096605192,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11,1392174813494472708,"#RAINXJYP #ë¹„ #RAIN\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch t...",0

In [22]:
rain_jyp_eng_tweets_cleaned_df = rain_jyp_eng_tweets_new_df.drop([1], axis = 1)
rain_jyp_eng_tweets_cleaned_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-13,Check out my brothers dance cover at EMCOK YT ...,0
1,2021-05-11,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
2,2021-05-11,"#RAINXJYP #ë¹„ #RAIN\nRAIN(ë¹„) - ""ë‚˜ë¡œ ë°”ê¾¸ì Switch t...",0

In [23]:
rain_jyp_eng_tweets_cleaned_df.to_csv('files/jyp_scraping_eng.csv')

# Results with JYP and jyp search keyword on Twitter

In [24]:
jyp_tweets = tweepy.Cursor(api.search, q='JYP jyp', result_type='mixed').items(150)
    
jyp_tweets_list = [[jyp_tweet.created_at, jyp_tweet.id, jyp_tweet.text, 
                      jyp_tweet.favorite_count] 
                     for jyp_tweet in jyp_tweets
                    ]
    
jyp_tweets_df = pd.DataFrame(jyp_tweets_list)

In [25]:
jyp_tweets_df

,0,1,2,3
0,2021-05-13 03:10:27,1392678601124765700,The 5 Most Popular K-Pop Idols At JYP Entertai...,2092
1,2021-05-12 04:20:00,1392333713363456001,"Jay B, formerly known as JB of GOT7, has offic...",2763
2,2021-05-12 18:58:52,1392554886483615759,"#NaInWoo Talks About Difficulties Filming ""#Ri...",1431
3,2021-05-13 23:00:01,1392977964304769029,RT @leilqvs: @spearhyunnie PLEASE HIADSGHFODF ...,0
4,2021-05-13 22:59:53,1392977932184956929,jyp eh tao ligada a danÃ§a???? Ã³timos danÃ§arino...,0
...,...,...,...,...
145,2021-05-12 04:14:19,1392332285400150016,ã‚«ãƒ•ã‚§ä»˜ã„ã¦ã‚‹ã®ã€œJYPã®ç¦åˆ©åšç”Ÿã™ã”ãã¦ã³ã£ãã‚Šã®ã‚½ãƒ³ãƒ‹ãƒ 2äººâœ¨ãƒãƒ£ãƒ³ãƒ“ãƒ³ã®ãƒã‚¤ãƒ³ãƒˆã§ã‚³ãƒ¼...,9
146,2021-05-12 04:14:17,1392332276483039237,RT @reravare: à¹‚à¸›à¸ª H1GHR VS ...,0
147,2021-05-12 04:14:01,1392332209684578304,RT @MBT4237: à¸•à¸­à¸™à¸—à¸µà¹ˆà¸§à¸‡à¸«à¸¡à¸”à¸ªà¸±à¸à¸à¸²à¹„à¸¡à¹ˆà¹€à¸„à¸¢à¹€à¸ªà¸µà¸¢à¹ƒà¸ˆà¹€à¸¥à¸¢à¸—à¸µ...,0
148,2021-05-12 04:13:54,1392332180827762692,RT @YUNH0E: hongjoong and minhyuk came togethe...,0
149,2021-05-12 04:13:47,1392332150146363399,RT @bjenggyy: à¸­à¸¢à¸²à¸à¸ˆà¸°à¸šà¸­à¸à¸§à¹ˆà¸²à¸à¸£à¸°à¹à¸ªà¸Šà¹ˆà¸§à¸‡à¸™à¸±à¹‰à¸™à¹€à¹€à¸£à¸‡à¸ˆà¸´à¸‡...,0

In [26]:
cleaned_jyp_tweets = jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_tweets

new_jyp_tweets = cleaned_jyp_tweets.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_tweets

sort_jype_tweets = new_jyp_tweets.sort_values(by="Popularity Count", ascending=False)
sort_jype_tweets

,Tweeted Date,Tweet Description,Popularity Count
1,2021-05-12 04:20:00,"Jay B, formerly known as JB of GOT7, has offic...",2763
0,2021-05-13 03:10:27,The 5 Most Popular K-Pop Idols At JYP Entertai...,2092
2,2021-05-12 18:58:52,"#NaInWoo Talks About Difficulties Filming ""#Ri...",1431
55,2021-05-12 04:18:20,o zepeto falou do itzy ontem e hoje a jyp anun...,24
145,2021-05-12 04:14:19,ã‚«ãƒ•ã‚§ä»˜ã„ã¦ã‚‹ã®ã€œJYPã®ç¦åˆ©åšç”Ÿã™ã”ãã¦ã³ã£ãã‚Šã®ã‚½ãƒ³ãƒ‹ãƒ 2äººâœ¨ãƒãƒ£ãƒ³ãƒ“ãƒ³ã®ãƒã‚¤ãƒ³ãƒˆã§ã‚³ãƒ¼...,9
...,...,...,...
50,2021-05-12 04:18:39,RT @ajummabakorea: à¸à¸²à¸£à¸¢à¹‰à¸²à¸¢à¸­à¸­à¸à¸ˆà¸²à¸à¸„à¹ˆà¸²à¸¢à¸—à¸µà¹ˆà¹€à¸›à¹‡à¸™à¸•à¸³à¸™...,0
51,2021-05-12 04:18:37,RT @jehaislesroses: Ñ‚Ñ€Ğ¸Ñ€Ğ°Ñ‡Ğ° Ğ¿Ğ¾Ğ´Ğ±Ğ¸Ğ»Ğ¸ Ñ…Ğ¾Ğ½Ğ´Ğ¶ÑƒĞ½Ğ° Ğ¸...,0
52,2021-05-12 04:18:31,RT @YUNH0E: hongjoong and minhyuk came togethe...,0
53,2021-05-12 04:18:24,What is stopping Chan from getting someone fro...,0
149,2021-05-12 04:13:47,RT @bjenggyy: à¸­à¸¢à¸²à¸à¸ˆà¸°à¸šà¸­à¸à¸§à¹ˆà¸²à¸à¸£à¸°à¹à¸ªà¸Šà¹ˆà¸§à¸‡à¸™à¸±à¹‰à¸™à¹€à¹€à¸£à¸‡à¸ˆà¸´à¸‡...,0

In [27]:
sort_jype_tweets.head()

,Tweeted Date,Tweet Description,Popularity Count
1,2021-05-12 04:20:00,"Jay B, formerly known as JB of GOT7, has offic...",2763
0,2021-05-13 03:10:27,The 5 Most Popular K-Pop Idols At JYP Entertai...,2092
2,2021-05-12 18:58:52,"#NaInWoo Talks About Difficulties Filming ""#Ri...",1431
55,2021-05-12 04:18:20,o zepeto falou do itzy ontem e hoje a jyp anun...,24
145,2021-05-12 04:14:19,ã‚«ãƒ•ã‚§ä»˜ã„ã¦ã‚‹ã®ã€œJYPã®ç¦åˆ©åšç”Ÿã™ã”ãã¦ã³ã£ãã‚Šã®ã‚½ãƒ³ãƒ‹ãƒ 2äººâœ¨ãƒãƒ£ãƒ³ãƒ“ãƒ³ã®ãƒã‚¤ãƒ³ãƒˆã§ã‚³ãƒ¼...,9

In [28]:
sort_jype_tweets.tail()

,Tweeted Date,Tweet Description,Popularity Count
50,2021-05-12 04:18:39,RT @ajummabakorea: à¸à¸²à¸£à¸¢à¹‰à¸²à¸¢à¸­à¸­à¸à¸ˆà¸²à¸à¸„à¹ˆà¸²à¸¢à¸—à¸µà¹ˆà¹€à¸›à¹‡à¸™à¸•à¸³à¸™...,0
51,2021-05-12 04:18:37,RT @jehaislesroses: Ñ‚Ñ€Ğ¸Ñ€Ğ°Ñ‡Ğ° Ğ¿Ğ¾Ğ´Ğ±Ğ¸Ğ»Ğ¸ Ñ…Ğ¾Ğ½Ğ´Ğ¶ÑƒĞ½Ğ° Ğ¸...,0
52,2021-05-12 04:18:31,RT @YUNH0E: hongjoong and minhyuk came togethe...,0
53,2021-05-12 04:18:24,What is stopping Chan from getting someone fro...,0
149,2021-05-12 04:13:47,RT @bjenggyy: à¸­à¸¢à¸²à¸à¸ˆà¸°à¸šà¸­à¸à¸§à¹ˆà¸²à¸à¸£à¸°à¹à¸ªà¸Šà¹ˆà¸§à¸‡à¸™à¸±à¹‰à¸™à¹€à¹€à¸£à¸‡à¸ˆà¸´à¸‡...,0

In [29]:
sort_jype_tweets.to_csv('files/just_jyp_scraping_eng.csv')

# Results with JYP in Korean (ë°•ì§„ì˜) on Twitter

In [30]:
jyp_korean_tweets = tweepy.Cursor(api.search, q='ë°•ì§„ì˜', result_type='mixed').items(150)
    
jyp_korean_tweets_list = [[jyp_korean_tweet.created_at, jyp_korean_tweet.id, jyp_korean_tweet.text, 
                      jyp_korean_tweet.favorite_count] 
                     for jyp_korean_tweet in jyp_korean_tweets
                    ]
    
jyp_korean_tweets_df = pd.DataFrame(jyp_korean_tweets_list)

In [31]:
jyp_korean_tweets_df

,0,1,2,3
0,2021-05-13 22:57:31,1392977332843913217,ê¹€ì†Œì—°\nì´ìƒí¬\nê¹€ì„ í¬\nê¹€í™ë¯¼\nì°¨ì€í¬ê¹€ë¯¼ì„ \nì´ê·¼ì¼\nì£¼ì˜í¬\nì–‘í˜„ì•„\nì•ˆì„±ë¯¼...,0
1,2021-05-13 22:39:30,1392972799778689024,RT @GOT7Official: [ #GOT7NOW ]\nAAAì—ì„œ ë°°ìš° ë°•ì§„ì˜ìœ¼ë¡œ...,0
2,2021-05-13 22:28:12,1392969956262809601,RT @psy_oppa: [ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆì§œ ...,0
3,2021-05-13 22:16:04,1392966901442043905,"ì´ìˆ˜ë§Œì€ ë¡¤ì„ ê·¸ë§Œ ë‘¬ì•¼í•˜ê³ ,\në°•ì§„ì˜ì€ ë§ˆí”¼ì•„ê°™ì€ k-ê²Œì„ ê·¸ë§Œë‘¬ì•¼í•¨.\n\në°•ì§„...",0
4,2021-05-13 21:49:28,1392960211300798469,Te extraÃ±o\n\n#GOT7 #ê°“ì„¸ë¸ #Jinyoung #ë°•ì§„ì˜ @GOT7...,4
...,...,...,...,...
145,2021-05-13 13:10:52,1392829701178068993,ì´ëŸ°ì• ë¥¼ ìˆ˜ë‚©í•´? ë°•ì§„ì˜ ë‚˜ê°€ ã…ˆ ã…œ ã„± ì–´ https://t.co/a9FJ6pXTju,0
146,2021-05-13 13:05:01,1392828225143857154,RT @psy_oppa: [ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆì§œ ...,0
147,2021-05-13 13:02:17,1392827539446374405,RT @SBSNOW: JYPì™€ ì‹¸ì´ë¥¼ ì´ˆê¸´ì¥ ì‹œí‚¨ \nì˜¤ë””ì…˜ ì°¸ê°€ìì˜ ë“±ì¥?!\n\...,0
148,2021-05-13 13:02:12,1392827519628312579,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
149,2021-05-13 13:01:39,1392827381652488194,RT @MY97O331: ì•„ë‹ˆ ì „ë¬¸ê°€ í‰ê°€ë‹¨ ë¯¸ì¹œê±°ì•¼ ? ..\nì‹œë°œ ì°¨ë¼ë¦¬ ì¼€ì´íŒ...,0

In [32]:
cleaned_jyp_korean_tweets_df = jyp_korean_tweets_df.drop([1], axis = 1)
# cleaned_jyp_korean_tweets_df

new_jyp_korean_tweets_df = cleaned_jyp_korean_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_korean_tweets_df

sort_jyp_korean_tweets_df = new_jyp_korean_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
49,2021-05-13 16:33:54,[ VRAC ] - 12.05.21\n\n- IG de Korea Dispatch ...,22
139,2021-05-13 13:23:50,à¸ˆà¸´à¸™à¸¢à¸­à¸‡à¸à¸²à¸à¸šà¸­à¸à¸¡à¸²à¸„à¹ˆà¸°\n#Jinyoung #Parkjinyoung #ì§„ì˜...,12
79,2021-05-13 15:24:30,ê·¼ë° ê°œëœ¬ê¸ˆì—†ëŠ”ë°\në°•ì§€í˜¸ê°€ ë°•ì§„ì˜ ì§¤ í•˜ë©´ ì¡´ë‚˜ ê³µí¬ìŠ¤ëŸ¬ìš¸ê±°ê°€í‹ˆ;;\nìê¸°ì•¼ ì™œ ...,7
74,2021-05-13 15:34:18,En esta fiesta falta Jinyoung ğŸ˜£\n\n#Jinyoung #...,6
58,2021-05-13 16:16:29,@kirby__day 7ì›” 3ì¼\nì•…ë§ˆíŒì‚¬ë¼ëŠ” ë“œë¼ë§ˆê°€ ë‚˜ì˜µë‹ˆë‹¤..\n(íƒ€ë½íŒì‚¬ì•„ë‹˜...,4
...,...,...,...
42,2021-05-13 16:47:22,RT @screensevens: #JINYOUNG; colored film lock...,0
41,2021-05-13 16:48:26,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
40,2021-05-13 16:54:21,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
39,2021-05-13 16:56:12,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
149,2021-05-13 13:01:39,RT @MY97O331: ì•„ë‹ˆ ì „ë¬¸ê°€ í‰ê°€ë‹¨ ë¯¸ì¹œê±°ì•¼ ? ..\nì‹œë°œ ì°¨ë¼ë¦¬ ì¼€ì´íŒ...,0

In [33]:
sort_jyp_korean_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
49,2021-05-13 16:33:54,[ VRAC ] - 12.05.21\n\n- IG de Korea Dispatch ...,22
139,2021-05-13 13:23:50,à¸ˆà¸´à¸™à¸¢à¸­à¸‡à¸à¸²à¸à¸šà¸­à¸à¸¡à¸²à¸„à¹ˆà¸°\n#Jinyoung #Parkjinyoung #ì§„ì˜...,12
79,2021-05-13 15:24:30,ê·¼ë° ê°œëœ¬ê¸ˆì—†ëŠ”ë°\në°•ì§€í˜¸ê°€ ë°•ì§„ì˜ ì§¤ í•˜ë©´ ì¡´ë‚˜ ê³µí¬ìŠ¤ëŸ¬ìš¸ê±°ê°€í‹ˆ;;\nìê¸°ì•¼ ì™œ ...,7
74,2021-05-13 15:34:18,En esta fiesta falta Jinyoung ğŸ˜£\n\n#Jinyoung #...,6
58,2021-05-13 16:16:29,@kirby__day 7ì›” 3ì¼\nì•…ë§ˆíŒì‚¬ë¼ëŠ” ë“œë¼ë§ˆê°€ ë‚˜ì˜µë‹ˆë‹¤..\n(íƒ€ë½íŒì‚¬ì•„ë‹˜...,4

In [34]:
sort_jyp_korean_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
42,2021-05-13 16:47:22,RT @screensevens: #JINYOUNG; colored film lock...,0
41,2021-05-13 16:48:26,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
40,2021-05-13 16:54:21,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
39,2021-05-13 16:56:12,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
149,2021-05-13 13:01:39,RT @MY97O331: ì•„ë‹ˆ ì „ë¬¸ê°€ í‰ê°€ë‹¨ ë¯¸ì¹œê±°ì•¼ ? ..\nì‹œë°œ ì°¨ë¼ë¦¬ ì¼€ì´íŒ...,0

In [35]:
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
49,2021-05-13 16:33:54,[ VRAC ] - 12.05.21\n\n- IG de Korea Dispatch ...,22
139,2021-05-13 13:23:50,à¸ˆà¸´à¸™à¸¢à¸­à¸‡à¸à¸²à¸à¸šà¸­à¸à¸¡à¸²à¸„à¹ˆà¸°\n#Jinyoung #Parkjinyoung #ì§„ì˜...,12
79,2021-05-13 15:24:30,ê·¼ë° ê°œëœ¬ê¸ˆì—†ëŠ”ë°\në°•ì§€í˜¸ê°€ ë°•ì§„ì˜ ì§¤ í•˜ë©´ ì¡´ë‚˜ ê³µí¬ìŠ¤ëŸ¬ìš¸ê±°ê°€í‹ˆ;;\nìê¸°ì•¼ ì™œ ...,7
74,2021-05-13 15:34:18,En esta fiesta falta Jinyoung ğŸ˜£\n\n#Jinyoung #...,6
58,2021-05-13 16:16:29,@kirby__day 7ì›” 3ì¼\nì•…ë§ˆíŒì‚¬ë¼ëŠ” ë“œë¼ë§ˆê°€ ë‚˜ì˜µë‹ˆë‹¤..\n(íƒ€ë½íŒì‚¬ì•„ë‹˜...,4
...,...,...,...
42,2021-05-13 16:47:22,RT @screensevens: #JINYOUNG; colored film lock...,0
41,2021-05-13 16:48:26,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
40,2021-05-13 16:54:21,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
39,2021-05-13 16:56:12,RT @SBSNOW: [ë¼ìš°ë“œ ìºë¦­í„° ì˜ìƒ]\nì˜¤ë””ì…˜ ë² í…Œë‘ JYP &amp; ìƒì´ˆ...,0
149,2021-05-13 13:01:39,RT @MY97O331: ì•„ë‹ˆ ì „ë¬¸ê°€ í‰ê°€ë‹¨ ë¯¸ì¹œê±°ì•¼ ? ..\nì‹œë°œ ì°¨ë¼ë¦¬ ì¼€ì´íŒ...,0

In [36]:
sort_jyp_korean_tweets_df.to_csv('files/just_jyp_scraping_kor.csv')