# Switch With Me - JYP feat. Rain Tweet Scraping

In [1]:
from tweetkey import consumer_api_key, consumer_api_secret_key, access_token, access_secret_token

In [2]:
import tweepy
import pandas as pd
import time

In [3]:
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

In [10]:
rain_jyp_tweets = tweepy.Cursor(api.search, q='나로 바꾸자').items(150)
    
rain_jyp_tweets_list = [[rain_jyp_tweet.created_at, rain_jyp_tweet.id, rain_jyp_tweet.text, 
                      rain_jyp_tweet.favorite_count] 
                     for rain_jyp_tweet in rain_jyp_tweets
                    ]
    
rain_jyp_tweets_df = pd.DataFrame(rain_jyp_tweets_list)

In [14]:
rain_jyp_tweets_df.head()

,0,1,2,3
0,2021-05-07 15:19:44,1390687803785179140,@nyong_taetae 나로바꾸자아아아아아아앙,0
1,2021-05-07 14:43:41,1390678728456429570,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
2,2021-05-07 09:20:30,1390597396787236866,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
3,2021-05-07 09:20:25,1390597375412998156,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
4,2021-05-07 08:09:40,1390579571976671234,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0

In [15]:
rain_jyp_tweets_df.tail()

,0,1,2,3
145,2021-05-04 22:34:43,1389710106011443200,RT @nyongkz: 한지성 나로 바꾸자 추는 거 개좋다... https://t....,0
146,2021-05-04 20:23:56,1389677191479414785,RT @gustavobaeza_: “나로 바꾸자 Switch to me” by DA...,0
147,2021-05-04 20:22:40,1389676875396513795,RT @__EB980603__: 나로 바꾸자 구팔즈 https://t.co/Y2v7...,0
148,2021-05-04 20:20:56,1389676440208162816,RT @gustavobaeza_: “나로 바꾸자 Switch to me” by DA...,0
149,2021-05-04 20:20:51,1389676418334969857,“나로 바꾸자 Switch to me” by DAHYUN and CHAEYOUNG ...,0

In [12]:
rain_jyp_eng_tweets = tweepy.Cursor(api.search, q='switch with me JYP Rain').items(150)
    
rain_jyp_eng_tweets_list = [[rain_jyp_eng_tweet.created_at, rain_jyp_eng_tweet.id, rain_jyp_eng_tweet.text, 
                      rain_jyp_eng_tweet.favorite_count] 
                     for rain_jyp_eng_tweet in rain_jyp_eng_tweets
                    ]
    
rain_jyp_eng_tweets_df = pd.DataFrame(rain_jyp_eng_tweets_list)

In [13]:
rain_jyp_eng_tweets_df.head()

,0,1,2,3
0,2021-05-04 12:05:03,1389551647152476170,"RAIN(비) - ""나로 바꾸자 Switch to me (duet with JYP)...",0
1,2021-05-03 13:46:54,1389214887016947715,"サンドゥ、学校へ行こう！\n\nRAIN(비) - ""나로 바꾸자 Switch to me...",0
2,2021-05-03 12:50:31,1389200700756742149,"RAIN(비) - ""나로 바꾸자 Switch to me (duet with JYP)...",0
3,2021-05-02 03:40:27,1388699882660061187,can someone please tell me why jyp has fucking...,1
4,2021-05-01 10:16:52,1388437254733910017,@NiziU88646314 @TENCH0713 新世代アメリカンソウル＆ポップの原点とも...,3

In [16]:
rain_jyp_eng_tweets_df.tail()

,0,1,2,3
0,2021-05-04 12:05:03,1389551647152476170,"RAIN(비) - ""나로 바꾸자 Switch to me (duet with JYP)...",0
1,2021-05-03 13:46:54,1389214887016947715,"サンドゥ、学校へ行こう！\n\nRAIN(비) - ""나로 바꾸자 Switch to me...",0
2,2021-05-03 12:50:31,1389200700756742149,"RAIN(비) - ""나로 바꾸자 Switch to me (duet with JYP)...",0
3,2021-05-02 03:40:27,1388699882660061187,can someone please tell me why jyp has fucking...,1
4,2021-05-01 10:16:52,1388437254733910017,@NiziU88646314 @TENCH0713 新世代アメリカンソウル＆ポップの原点とも...,3