# Results with JYP and jyp search keyword on Twitter

In [24]:
jyp_tweets = tweepy.Cursor(api.search, q='JYP jyp', result_type='mixed').items(150)
    
jyp_tweets_list = [[jyp_tweet.created_at, jyp_tweet.id, jyp_tweet.text, 
                      jyp_tweet.favorite_count] 
                     for jyp_tweet in jyp_tweets
                    ]
    
jyp_tweets_df = pd.DataFrame(jyp_tweets_list)

In [25]:
jyp_tweets_df

,0,1,2,3
0,2021-05-13 03:10:27,1392678601124765700,The 5 Most Popular K-Pop Idols At JYP Entertai...,2223
1,2021-05-14 05:00:01,1393068559840923649,‡πÅ‡∏≠‡∏ö‡πÄ‡∏≠‡∏≤‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á Photocard Gift ‡∏°‡∏≤‡πÉ‡∏´‡πâ‡∏î‡∏π ü•∞\n‡∏ä‡πâ‡∏≠‡∏õ‡∏ö...,245
2,2021-05-14 04:25:10,1393059790604029952,#ITZY drop English version of ‚ÄòMafia In The Mo...,352
3,2021-05-14 22:07:26,1393327118990327812,LEE MINHO. LEE MINHO KILLED THAT WOLF STAGE I ...,0
4,2021-05-14 22:07:17,1393327080041943041,RT @hyunjinfever: remember when hyunjin used t...,0
...,...,...,...,...
145,2021-05-13 02:54:19,1392674538849193987,RT @only_oktaec: it‚Äôs either taecyeon is mocki...,0
146,2021-05-13 02:53:54,1392674436440944642,"RT @jung__ina: Mayfly : BTOB, Stray Kids, ATEE...",0
147,2021-05-13 02:53:49,1392674415108771843,"RT @jung__ina: Mayfly : BTOB, Stray Kids, ATEE...",0
148,2021-05-13 02:53:48,1392674409819762689,Check out my brothers dance cover at EMCOK YT ...,0
149,2021-05-13 02:53:44,1392674393051082752,"RT @jung__ina: Mayfly : BTOB, Stray Kids, ATEE...",0

In [26]:
cleaned_jyp_tweets = jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_tweets

new_jyp_tweets = cleaned_jyp_tweets.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_tweets

sort_jype_tweets = new_jyp_tweets.sort_values(by="Popularity Count", ascending=False)
sort_jype_tweets

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-13 03:10:27,The 5 Most Popular K-Pop Idols At JYP Entertai...,2223
2,2021-05-14 04:25:10,#ITZY drop English version of ‚ÄòMafia In The Mo...,352
1,2021-05-14 05:00:01,‡πÅ‡∏≠‡∏ö‡πÄ‡∏≠‡∏≤‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á Photocard Gift ‡∏°‡∏≤‡πÉ‡∏´‡πâ‡∏î‡∏π ü•∞\n‡∏ä‡πâ‡∏≠‡∏õ‡∏ö...,245
58,2021-05-13 03:04:55,ÁîªÈù¢ON„Å´„Å™„Å£„Å¶„Çã„ÅÆÊ∞ó„Å•„Åã„Å™„ÅÑ„Åß„Ç≤„Éº„É†„Åó„Å¶„Çã‰∫∫„ÅÑ„Çãw,11
110,2021-05-13 02:58:42,so for our unit \n\ndance unit : KQ entertainm...,9
...,...,...,...
46,2021-05-13 03:06:26,RT @newsnayeon: 210512 | K-drama Actor Na Inwo...,0
44,2021-05-13 03:06:44,RT @belongtojeong: Actor Na Inwoo confessed th...,0
43,2021-05-13 03:07:06,RT @tnseoaks: Î∞òÏ®ïÎ∞òÏ®ï Í≥†ÏòÅÏù¥ https://t.co/UskWtiX9zH,0
42,2021-05-13 03:07:06,"RT @jung__ina: Mayfly : BTOB, Stray Kids, ATEE...",0
149,2021-05-13 02:53:44,"RT @jung__ina: Mayfly : BTOB, Stray Kids, ATEE...",0

In [27]:
sort_jype_tweets.head()

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-13 03:10:27,The 5 Most Popular K-Pop Idols At JYP Entertai...,2223
2,2021-05-14 04:25:10,#ITZY drop English version of ‚ÄòMafia In The Mo...,352
1,2021-05-14 05:00:01,‡πÅ‡∏≠‡∏ö‡πÄ‡∏≠‡∏≤‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á Photocard Gift ‡∏°‡∏≤‡πÉ‡∏´‡πâ‡∏î‡∏π ü•∞\n‡∏ä‡πâ‡∏≠‡∏õ‡∏ö...,245
58,2021-05-13 03:04:55,ÁîªÈù¢ON„Å´„Å™„Å£„Å¶„Çã„ÅÆÊ∞ó„Å•„Åã„Å™„ÅÑ„Åß„Ç≤„Éº„É†„Åó„Å¶„Çã‰∫∫„ÅÑ„Çãw,11
110,2021-05-13 02:58:42,so for our unit \n\ndance unit : KQ entertainm...,9

In [28]:
sort_jype_tweets.tail()

,Tweeted Date,Tweet Description,Popularity Count
46,2021-05-13 03:06:26,RT @newsnayeon: 210512 | K-drama Actor Na Inwo...,0
44,2021-05-13 03:06:44,RT @belongtojeong: Actor Na Inwoo confessed th...,0
43,2021-05-13 03:07:06,RT @tnseoaks: Î∞òÏ®ïÎ∞òÏ®ï Í≥†ÏòÅÏù¥ https://t.co/UskWtiX9zH,0
42,2021-05-13 03:07:06,"RT @jung__ina: Mayfly : BTOB, Stray Kids, ATEE...",0
149,2021-05-13 02:53:44,"RT @jung__ina: Mayfly : BTOB, Stray Kids, ATEE...",0

In [29]:
sort_jype_tweets.to_csv('files/just_jyp_scraping_eng.csv')

# Results with JYP in Korean (Î∞ïÏßÑÏòÅ) on Twitter

In [30]:
jyp_korean_tweets = tweepy.Cursor(api.search, q='Î∞ïÏßÑÏòÅ', result_type='mixed').items(150)
    
jyp_korean_tweets_list = [[jyp_korean_tweet.created_at, jyp_korean_tweet.id, jyp_korean_tweet.text, 
                      jyp_korean_tweet.favorite_count] 
                     for jyp_korean_tweet in jyp_korean_tweets
                    ]
    
jyp_korean_tweets_df = pd.DataFrame(jyp_korean_tweets_list)

In [31]:
jyp_korean_tweets_df

,0,1,2,3
0,2021-05-14 22:07:30,1393327136979623939,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
1,2021-05-14 22:07:26,1393327116767301633,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
2,2021-05-14 22:07:01,1393327014895964163,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
3,2021-05-14 22:06:52,1393326974991441921,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
4,2021-05-14 22:06:52,1393326973917667402,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
...,...,...,...,...
145,2021-05-14 20:55:52,1393309107596054528,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
146,2021-05-14 20:55:37,1393309044488564737,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
147,2021-05-14 20:55:14,1393308950339244033,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
148,2021-05-14 20:54:59,1393308884891144194,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
149,2021-05-14 20:54:23,1393308734101901312,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0

In [32]:
cleaned_jyp_korean_tweets_df = jyp_korean_tweets_df.drop([1], axis = 1)
# cleaned_jyp_korean_tweets_df

new_jyp_korean_tweets_df = cleaned_jyp_korean_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jyp_korean_tweets_df

sort_jyp_korean_tweets_df = new_jyp_korean_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-14 22:07:30,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
94,2021-05-14 21:21:10,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
96,2021-05-14 21:19:13,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
97,2021-05-14 21:18:55,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
98,2021-05-14 21:18:38,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
...,...,...,...
50,2021-05-14 21:48:12,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
51,2021-05-14 21:47:45,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
52,2021-05-14 21:47:43,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
53,2021-05-14 21:47:25,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
149,2021-05-14 20:54:23,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0

In [33]:
sort_jyp_korean_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-14 22:07:30,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
94,2021-05-14 21:21:10,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
96,2021-05-14 21:19:13,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
97,2021-05-14 21:18:55,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
98,2021-05-14 21:18:38,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0

In [34]:
sort_jyp_korean_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
50,2021-05-14 21:48:12,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
51,2021-05-14 21:47:45,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
52,2021-05-14 21:47:43,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
53,2021-05-14 21:47:25,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
149,2021-05-14 20:54:23,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0

In [35]:
sort_jyp_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-14 22:07:30,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
94,2021-05-14 21:21:10,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
96,2021-05-14 21:19:13,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
97,2021-05-14 21:18:55,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
98,2021-05-14 21:18:38,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
...,...,...,...
50,2021-05-14 21:48:12,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
51,2021-05-14 21:47:45,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
52,2021-05-14 21:47:43,RT @markbeomnyoung: Jinyoung as Kim Gaon for D...,0
53,2021-05-14 21:47:25,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0
149,2021-05-14 20:54:23,RT @markbeomnyoung: Jinyoung on I Live Alone üò≠...,0

In [36]:
sort_jyp_korean_tweets_df.to_csv('files/just_jyp_scraping_kor.csv')