# Switch To Me - Rain feat. JYP Tweet Scraping

In [1]:
from tweetkey import consumer_api_key, consumer_api_secret_key, access_token, access_secret_token

In [2]:
import tweepy
import pandas as pd
import time

In [3]:
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

# Switch To Me - Rain feat. JYP Tweet Scraping | Results in Korean

In [24]:
# search by the band group name and show the results for popular ones up to 150 items
# there is no popular for this one 
# try it for without the result_type
# try it for the mixed or recent for the result_type

# rain_jyp_tweets = tweepy.Cursor(api.search, q='나로 바꾸자', result_type='popular').items(150)
rain_jyp_tweets = tweepy.Cursor(api.search, q='나로 바꾸자', result_type='mixed').items(150)
    
rain_jyp_tweets_list = [[rain_jyp_tweet.created_at, rain_jyp_tweet.id, rain_jyp_tweet.text, 
                      rain_jyp_tweet.favorite_count] 
                     for rain_jyp_tweet in rain_jyp_tweets
                    ]
    
rain_jyp_tweets_df = pd.DataFrame(rain_jyp_tweets_list)

In [25]:
rain_jyp_tweets_df.head()

,0,1,2,3
0,2021-05-14 17:08:07,1393251794877239296,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
1,2021-05-14 16:31:36,1393242605396185092,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
2,2021-05-14 16:16:43,1393238855998791687,이준호 몸매 나로 바꾸자아아아아아 제발 나로 바꾸자아아아 제발🙏 https://t....,1
3,2021-05-14 15:57:45,1393234086416719873,RT @milk_dimple: 나로바꾸자 추는 김민석 CUT \n‼️귀여움 치사량 ...,0
4,2021-05-14 15:52:07,1393232665797545984,RT @milk_dimple: 나로바꾸자 추는 김민석 CUT \n‼️귀여움 치사량 ...,0

In [26]:
rain_jyp_tweets_df.tail()

,0,1,2,3
110,2021-05-07 15:19:44,1390687803785179140,@nyong_taetae 나로바꾸자아아아아아아앙,0
111,2021-05-07 14:43:41,1390678728456429570,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
112,2021-05-07 09:20:25,1390597375412998156,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
113,2021-05-07 08:09:40,1390579571976671234,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0
114,2021-05-07 03:23:20,1390507513087369219,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0

In [27]:
rain_jyp_tweets_df

,0,1,2,3
0,2021-05-14 17:08:07,1393251794877239296,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
1,2021-05-14 16:31:36,1393242605396185092,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
2,2021-05-14 16:16:43,1393238855998791687,이준호 몸매 나로 바꾸자아아아아아 제발 나로 바꾸자아아아 제발🙏 https://t....,1
3,2021-05-14 15:57:45,1393234086416719873,RT @milk_dimple: 나로바꾸자 추는 김민석 CUT \n‼️귀여움 치사량 ...,0
4,2021-05-14 15:52:07,1393232665797545984,RT @milk_dimple: 나로바꾸자 추는 김민석 CUT \n‼️귀여움 치사량 ...,0
...,...,...,...,...
110,2021-05-07 15:19:44,1390687803785179140,@nyong_taetae 나로바꾸자아아아아아아앙,0
111,2021-05-07 14:43:41,1390678728456429570,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
112,2021-05-07 09:20:25,1390597375412998156,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
113,2021-05-07 08:09:40,1390579571976671234,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0
114,2021-05-07 03:23:20,1390507513087369219,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0

In [28]:
rain_jyp_tweets_df[0] = pd.to_datetime(rain_jyp_tweets_df[0]).dt.date
# rain_jyp_tweets_df

In [29]:
cleaned_jyp_kor = rain_jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_kor

In [30]:
cleaned_jyp_kor_df = cleaned_jyp_kor.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
cleaned_jyp_kor_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-14,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
1,2021-05-14,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
2,2021-05-14,이준호 몸매 나로 바꾸자아아아아아 제발 나로 바꾸자아아아 제발🙏 https://t....,1
3,2021-05-14,RT @milk_dimple: 나로바꾸자 추는 김민석 CUT \n‼️귀여움 치사량 ...,0
4,2021-05-14,RT @milk_dimple: 나로바꾸자 추는 김민석 CUT \n‼️귀여움 치사량 ...,0
...,...,...,...
110,2021-05-07,@nyong_taetae 나로바꾸자아아아아아아앙,0
111,2021-05-07,RT @ENHYPEN_members: 현재 엔하이픈 차트 2주째 1위를 달리고있는 ...,0
112,2021-05-07,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
113,2021-05-07,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0
114,2021-05-07,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0

In [31]:
top_5_bot_5_popular_jype = cleaned_jyp_kor_df.sort_values(by="Popularity Count", ascending=False)

In [32]:
top_5_bot_5_popular_jype.head(5)

,Tweeted Date,Tweet Description,Popularity Count
63,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
11,2021-05-14,.@followjyp on MelOn Daily Chart (210513)\n\n7...,17
48,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
25,2021-05-13,나로 바꾸자 https://t.co/jYouBTMj89,13
32,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12

In [33]:
top_5_bot_5_popular_jype.tail()

,Tweeted Date,Tweet Description,Popularity Count
39,2021-05-12,RT @ciShengWeiNi: @jueying2020 호일도에게 경도되었을때 가문...,0
38,2021-05-12,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
37,2021-05-12,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
36,2021-05-12,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
114,2021-05-07,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0

In [34]:
top_5_bot_5_popular_jype

,Tweeted Date,Tweet Description,Popularity Count
63,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
11,2021-05-14,.@followjyp on MelOn Daily Chart (210513)\n\n7...,17
48,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
25,2021-05-13,나로 바꾸자 https://t.co/jYouBTMj89,13
32,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12
...,...,...,...
39,2021-05-12,RT @ciShengWeiNi: @jueying2020 호일도에게 경도되었을때 가문...,0
38,2021-05-12,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG “나로 바꾸자 ...,0
37,2021-05-12,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
36,2021-05-12,RT @JYPETWICE: “나로 바꾸자 Switch to me” by DAHYUN...,0
114,2021-05-07,RT @boong_sm: #엔시티_23명_절대지켜\n수만깅! 자꾸 그러면 \n#에스...,0

In [35]:
top_5_bot_5_popular_jype.to_csv('files/switch-to-me_scraping_kor.csv')

# Switch To Me - JYP feat. Rain Tweet Scraping | Results in English

In [36]:
rain_jyp_eng_tweets = tweepy.Cursor(api.search, q='switch to me Rain', result_type='mixed').items(150)
    
rain_jyp_eng_tweets_list = [[rain_jyp_eng_tweet.created_at, rain_jyp_eng_tweet.id, rain_jyp_eng_tweet.text, 
                      rain_jyp_eng_tweet.favorite_count] 
                     for rain_jyp_eng_tweet in rain_jyp_eng_tweets
                    ]
    
rain_jyp_eng_tweets_df = pd.DataFrame(rain_jyp_eng_tweets_list)

In [37]:
rain_jyp_eng_tweets_df.head()

,0,1,2,3
0,2021-05-14 20:07:27,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14 17:08:07,1393251794877239296,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
2,2021-05-14 03:07:41,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
3,2021-05-13 18:03:02,1392903224047321093,RT @J_ONESONG: Han Jisung bbl 💭 wake up mini c...,0
4,2021-05-13 13:42:41,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0

In [38]:
rain_jyp_eng_tweets_df.tail()

,0,1,2,3
57,2021-05-07 20:35:04,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07 20:34:29,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07 20:24:03,1390764384398364674,RT @angelraiiin: looking for more mutuals! \n♡...,0
60,2021-05-07 20:23:03,1390764134929780736,looking for more mutuals! \n♡︎ not new to nsfw...,51
61,2021-05-07 17:00:04,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [39]:
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-14 20:07:27,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14 17:08:07,1393251794877239296,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
2,2021-05-14 03:07:41,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
3,2021-05-13 18:03:02,1392903224047321093,RT @J_ONESONG: Han Jisung bbl 💭 wake up mini c...,0
4,2021-05-13 13:42:41,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
...,...,...,...,...
57,2021-05-07 20:35:04,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07 20:34:29,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07 20:24:03,1390764384398364674,RT @angelraiiin: looking for more mutuals! \n♡...,0
60,2021-05-07 20:23:03,1390764134929780736,looking for more mutuals! \n♡︎ not new to nsfw...,51
61,2021-05-07 17:00:04,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [40]:
rain_jyp_eng_tweets_df[0] = pd.to_datetime(rain_jyp_eng_tweets_df[0]).dt.date
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-14,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14,1393251794877239296,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
2,2021-05-14,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
3,2021-05-13,1392903224047321093,RT @J_ONESONG: Han Jisung bbl 💭 wake up mini c...,0
4,2021-05-13,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
...,...,...,...,...
57,2021-05-07,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07,1390764384398364674,RT @angelraiiin: looking for more mutuals! \n♡...,0
60,2021-05-07,1390764134929780736,looking for more mutuals! \n♡︎ not new to nsfw...,51
61,2021-05-07,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [41]:
rain_jyp_eng_tweets_new_df = rain_jyp_eng_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
rain_jyp_eng_tweets_new_df

,Tweeted Date,1,Tweet Description,Popularity Count
0,2021-05-14,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14,1393251794877239296,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
2,2021-05-14,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
3,2021-05-13,1392903224047321093,RT @J_ONESONG: Han Jisung bbl 💭 wake up mini c...,0
4,2021-05-13,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
...,...,...,...,...
57,2021-05-07,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07,1390764384398364674,RT @angelraiiin: looking for more mutuals! \n♡...,0
60,2021-05-07,1390764134929780736,looking for more mutuals! \n♡︎ not new to nsfw...,51
61,2021-05-07,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [42]:
rain_jyp_eng_tweets_cleaned_df = rain_jyp_eng_tweets_new_df.drop([1], axis = 1)
rain_jyp_eng_tweets_cleaned_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-14,"This is 100% me when I study, but in the summe...",2
1,2021-05-14,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
2,2021-05-14,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
3,2021-05-13,RT @J_ONESONG: Han Jisung bbl 💭 wake up mini c...,0
4,2021-05-13,RT @sugarray0503: NOT SHY BEARs - RAINxJYP​ - ...,0
...,...,...,...
57,2021-05-07,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07,RT @angelraiiin: looking for more mutuals! \n♡...,0
60,2021-05-07,looking for more mutuals! \n♡︎ not new to nsfw...,51
61,2021-05-07,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [43]:
sort_rain_eng_tweets = rain_jyp_eng_tweets_cleaned_df.sort_values(by="Popularity Count", ascending=False)
sort_rain_eng_tweets.head()

,Tweeted Date,Tweet Description,Popularity Count
58,2021-05-07,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
60,2021-05-07,looking for more mutuals! \n♡︎ not new to nsfw...,51
16,2021-05-11,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
29,2021-05-08,switch to meのJYPとRAINオッパカッコよすぎる✨✨\nいつかはレインオッパみ...,5
8,2021-05-13,Have you been exploring #nature this #MentalHe...,5

In [44]:
sort_rain_eng_tweets.tail()

,Tweeted Date,Tweet Description,Popularity Count
1,2021-05-14,昨日のジャクソンとの曲以外にもRAINの曲何かあるかなって漁ったら、JYPとの師弟コラボがあ...,0
5,2021-05-13,RT @suppinmindscot: Have you been exploring #n...,0
33,2021-05-08,RT @angelraiiin: looking for more mutuals! \n♡...,0
34,2021-05-08,RT @angelraiiin: looking for more mutuals! \n♡...,0
31,2021-05-08,"RT @Gabybarata_: Switch to me- rain, jyp https...",0

In [45]:
rain_jyp_eng_tweets_cleaned_df.to_csv('files/switch-to-me_scraping_eng.csv')

# Search Results For Rain (비)

In [50]:
rain_tweets = tweepy.Cursor(api.search, q='RAIN 비', result_type='mixed').items(150)
    
rain_tweets_list = [[rain_tweet.created_at, rain_tweet.id, rain_tweet.text, 
                      rain_tweet.favorite_count] 
                     for rain_tweet in rain_tweets
                    ]
    
rain_tweets_df = pd.DataFrame(rain_tweets_list)

In [51]:
rain_tweets_df

,0,1,2,3
0,2021-05-09 04:18:55,1391246279666065410,비 맞으면 나처럼 머리가 부푼다^^\n\n(2Z youtube All i need ...,652
1,2021-05-14 23:33:24,1393348751704657924,RT @JinwonJung: 아들래미가 리듬게임 했던 이야기를 하면서 템포가 느려지...,0
2,2021-05-14 23:32:28,1393348516374716425,RT @Limbic_Psych: 지금 읽는 책에서…\n\n우울증인 사람한테 힘내라 ...,0
3,2021-05-14 23:23:52,1393346353074483203,RT @paulkim_twt: [#PaulKim]\n\n그립지만 다시 올 그 날들\...,0
4,2021-05-14 23:19:59,1393345375105261571,"비가 그친 정원에 꽃이 피어있었어\n분명 이젠 괜찮을거야\n그래, 다음 비 내리는 ...",0
...,...,...,...,...
145,2021-05-08 02:10:13,1390851500570669061,雨(あめ): rain/雨/비/مَطَر/lluvia/pluie/Regen #日本語 ...,0
146,2021-05-08 02:09:58,1390851439409319936,RT @ninonariArashi: 도록 초반부 해석\n.\n.\n.\n하와이에서 ...,0
147,2021-05-08 02:07:41,1390850864357593091,@_rain_rain__ 비님...이에요?,0
148,2021-05-08 01:53:48,1390847368531087361,RT @CHUNGHA_MNHent: [📺] 일주일간 열심히 달려온 \n비 선배님과의...,0
149,2021-05-08 01:41:22,1390844241484595204,RT @sck0279: RAIN\nSOLO\n\n#비 #정지훈 #비룡 \n#RAIN...,0

In [52]:
cleaned_rain_tweets_df = rain_tweets_df.drop([1], axis = 1)
# cleaned_rain_tweets_df

new_rain_tweets_df = cleaned_rain_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_rain_tweets_df

sort_rain_tweets_df = new_rain_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_rain_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-09 04:18:55,비 맞으면 나처럼 머리가 부푼다^^\n\n(2Z youtube All i need ...,652
71,2021-05-08 14:36:18,“이렇게 가끔은 멈춰가도 돼\n쉬어도 돼\n마음에 비가 내려도\nWhen this ...,16
45,2021-05-08 21:06:51,5/9 RAIN(ピ)LOVE2 Blog記事「Forbes Power Celebrity...,13
99,2021-05-08 09:43:51,"“아니, 누나!” 카메라 앞에서 가식적(?)이라는 김태희 말에 비가 보인 ‘현실부부...",4
14,2021-05-14 21:25:26,🍁🌾🌧️\n비가 올 수 있습니다 \n#비 #rain #may,3
...,...,...,...
59,2021-05-08 16:03:53,Lee Hyo Jung – After Rain (지나가는 비) Lyrics http...,0
58,2021-05-08 16:04:47,"내가 만약 비였다면, 그것이 영원히 만나지 않는 하늘과 대지를 이어두듯, 사람의 마...",0
57,2021-05-08 16:07:28,RT @KimTaeHeeTHfan: เบื้องหลังถ่ายทำโฆษณา BODY...,0
56,2021-05-08 16:10:05,찬란하게 빛나던 시간이었다고\n맑은 여름비처럼 고마웠었다고\n-여름비 (Summer...,0
149,2021-05-08 01:41:22,RT @sck0279: RAIN\nSOLO\n\n#비 #정지훈 #비룡 \n#RAIN...,0

In [53]:
sort_rain_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-09 04:18:55,비 맞으면 나처럼 머리가 부푼다^^\n\n(2Z youtube All i need ...,652
71,2021-05-08 14:36:18,“이렇게 가끔은 멈춰가도 돼\n쉬어도 돼\n마음에 비가 내려도\nWhen this ...,16
45,2021-05-08 21:06:51,5/9 RAIN(ピ)LOVE2 Blog記事「Forbes Power Celebrity...,13
99,2021-05-08 09:43:51,"“아니, 누나!” 카메라 앞에서 가식적(?)이라는 김태희 말에 비가 보인 ‘현실부부...",4
14,2021-05-14 21:25:26,🍁🌾🌧️\n비가 올 수 있습니다 \n#비 #rain #may,3

In [54]:
sort_rain_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
59,2021-05-08 16:03:53,Lee Hyo Jung – After Rain (지나가는 비) Lyrics http...,0
58,2021-05-08 16:04:47,"내가 만약 비였다면, 그것이 영원히 만나지 않는 하늘과 대지를 이어두듯, 사람의 마...",0
57,2021-05-08 16:07:28,RT @KimTaeHeeTHfan: เบื้องหลังถ่ายทำโฆษณา BODY...,0
56,2021-05-08 16:10:05,찬란하게 빛나던 시간이었다고\n맑은 여름비처럼 고마웠었다고\n-여름비 (Summer...,0
149,2021-05-08 01:41:22,RT @sck0279: RAIN\nSOLO\n\n#비 #정지훈 #비룡 \n#RAIN...,0

In [85]:
sort_rain_tweets_df.to_csv('files/rain_scraping_eng.csv')

# Search Results For 정지훈 (Jeong Ji-hoon)

In [74]:
rain_korean_tweets = tweepy.Cursor(api.search, q='정지훈', result_type='mixed').items(150)
    
rain_korean_tweets_list = [[rain_korean_tweet.created_at, rain_korean_tweet.id, rain_korean_tweet.text, 
                      rain_korean_tweet.favorite_count] 
                     for rain_korean_tweet in rain_korean_tweets
                    ]
    
rain_korean_tweets_df = pd.DataFrame(rain_korean_tweets_list)

In [75]:
rain_korean_tweets_df

,0,1,2,3
0,2021-05-14 22:23:48,1393331238891520001,김여름\n이효선이미숙\n정지훈\n김은경\n김상균\n고현주\n김경애\n박정언\n김성은...,0
1,2021-05-14 21:42:37,1393320872321208334,RT @cloudjjhph_: 🎶 I Think I love you 🎶\n\n📺 F...,0
2,2021-05-14 21:20:59,1393315427002945537,정지훈 : 그나저나 저 없는 사이에 별게 다 나왔네요 U U* dlfrdjqhkdi...,0
3,2021-05-14 21:15:33,1393314063158030345,[#탄]{Tan} Giornata delle Rose❤ Eccovi Tan al p...,3
4,2021-05-14 16:52:31,1393247868790599680,5/15 RAIN(ピ)LOVE2 Blog記事「Season B Season EP.35...,6
...,...,...,...,...
145,2021-05-10 23:38:31,1391900490007343105,비(RAIN) - 本名：정지훈 1982年6月25日生まれ 身長185cm 血液型はO型。,0
146,2021-05-10 21:51:48,1391873633367191552,【美韓】チョン・ジフン（ピ）に投票完了！現在の得票数:131票\nチョン・ジフン（ピ）「僕が...,1
147,2021-05-10 21:12:39,1391863781823713282,5/11 RAIN(ピ)LOVE2 Blog記事「Forbes Power Celebrit...,15
148,2021-05-10 21:07:42,1391862536086061057,이세민\n김백호\n최종근\n류유상\n이고은\n김예지\n김미선\n황재홍\n신주미\n임...,0
149,2021-05-10 21:02:08,1391861134127341570,이세민\n김백호\n최종근\n류유상\n이고은\n김예지\n김미선\n황재홍\n신주미\n임...,0

In [76]:
cleaned_rain_korean_tweets_df = rain_korean_tweets_df.drop([1], axis = 1)
# cleaned_rain_korean_tweets_df

new_rain_korean_tweets_df = cleaned_rain_korean_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_rain_korean_tweets_df

sort_rain_korean_tweets_df = new_rain_korean_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_rain_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
61,2021-05-13 12:07:38,정지훈뭐하냐고ㅋㅋㅋㅋㅋㅋ https://t.co/YwJ1m8PdE0,27
147,2021-05-10 21:12:39,5/11 RAIN(ピ)LOVE2 Blog記事「Forbes Power Celebrit...,15
114,2021-05-12 09:40:43,📣 Rain's birthday is coming up in June! We're ...,15
93,2021-05-12 21:05:48,5/13 RAIN(ピ)LOVE2 Blog記事「Season B Season EP.33...,14
64,2021-05-13 11:07:19,&lt;Season B Season&gt; Rain’s New Vlog post i...,13
...,...,...,...
48,2021-05-13 16:16:48,RT @cloudjjhph_: &lt;Season B Season&gt; Rain’...,0
47,2021-05-13 16:16:52,RT @_hannahssi_: #SeasonBseason Ep 35\n⚠넷이 합쳐 ...,0
46,2021-05-13 16:16:57,"RT @Freesia_29: [기사] 2021.5.13 ‘싱어게인’ 이무진, 비 만...",0
45,2021-05-13 16:17:06,RT @cloudjjhph_: &lt;Season B Season&gt; \nSin...,0
149,2021-05-10 21:02:08,이세민\n김백호\n최종근\n류유상\n이고은\n김예지\n김미선\n황재홍\n신주미\n임...,0

In [77]:
sort_rain_korean_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
61,2021-05-13 12:07:38,정지훈뭐하냐고ㅋㅋㅋㅋㅋㅋ https://t.co/YwJ1m8PdE0,27
147,2021-05-10 21:12:39,5/11 RAIN(ピ)LOVE2 Blog記事「Forbes Power Celebrit...,15
114,2021-05-12 09:40:43,📣 Rain's birthday is coming up in June! We're ...,15
93,2021-05-12 21:05:48,5/13 RAIN(ピ)LOVE2 Blog記事「Season B Season EP.33...,14
64,2021-05-13 11:07:19,&lt;Season B Season&gt; Rain’s New Vlog post i...,13

In [78]:
sort_rain_korean_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
48,2021-05-13 16:16:48,RT @cloudjjhph_: &lt;Season B Season&gt; Rain’...,0
47,2021-05-13 16:16:52,RT @_hannahssi_: #SeasonBseason Ep 35\n⚠넷이 합쳐 ...,0
46,2021-05-13 16:16:57,"RT @Freesia_29: [기사] 2021.5.13 ‘싱어게인’ 이무진, 비 만...",0
45,2021-05-13 16:17:06,RT @cloudjjhph_: &lt;Season B Season&gt; \nSin...,0
149,2021-05-10 21:02:08,이세민\n김백호\n최종근\n류유상\n이고은\n김예지\n김미선\n황재홍\n신주미\n임...,0

In [86]:
sort_rain_korean_tweets_df.to_csv('files/rain_scraping_kor.csv')

# Search Results in J. Tune Entertainment (owned by RAIN)

In [79]:
jtune_tweets = tweepy.Cursor(api.search, q='J. Tune Entertainment', result_type='mixed').items(150)
    
jtune_tweets_list = [[jtune_tweet.created_at, jtune_tweet.id, jtune_tweet.text, 
                      jtune_tweet.favorite_count] 
                     for jtune_tweet in jtune_tweets
                    ]
    
jtune_tweets_df = pd.DataFrame(jtune_tweets_list)

In [80]:
jtune_tweets_df

,0,1,2,3
0,2021-05-14 22:09:01,1393327516987772933,RT @ieEntertainment: #TuneFix | What are you l...,0
1,2021-05-14 22:03:53,1393326226996043778,RT @ieEntertainment: #TuneFix | What are you l...,0
2,2021-05-14 19:40:08,1393290050239008769,Jaehyo was the one who suggested for Junhyung ...,0
3,2021-05-14 18:00:34,1393264993311756288,Tune Fix: From J Cole’s My Life to Axel Thesle...,0
4,2021-05-14 16:31:51,1393242665064435712,RT @ieEntertainment: #TuneFix | What are you l...,0
5,2021-05-14 16:30:00,1393242200146735104,#TuneFix | What are you listening to this week...,8
6,2021-05-13 16:40:10,1392882372895383553,Jaehyo was the one who suggested for Junhyung ...,0
7,2021-05-12 16:10:10,1392512435026731009,Jaehyo was the one who suggested for Junhyung ...,0
8,2021-05-11 16:01:12,1392147789619073028,RT @JuliusErving: Tune in to CBS This Morning ...,0
9,2021-05-11 15:10:07,1392134935071264770,Jaehyo was the one who suggested for Junhyung ...,0
10,2021-05-10 10:10:27,1391697130805288964,Jaehyo was the one who suggested for Junhyung ...,0
11,2021-05-09 05:40:02,1391266690613202949,Jaehyo was the one who suggested for Junhyung ...,0
12,2021-05-08 06:40:21,1390919481950498820,Jaehyo was the one who suggested for Junhyung ...,0

In [81]:
cleaned_jtune_tweets_df = jtune_tweets_df.drop([1], axis = 1)
# cleaned_jtune_tweets_df

new_jtune_tweets_df = cleaned_jtune_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jtune_tweets_df

sort_jtune_tweets_df = new_jtune_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_jtune_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
5,2021-05-14 16:30:00,#TuneFix | What are you listening to this week...,8
0,2021-05-14 22:09:01,RT @ieEntertainment: #TuneFix | What are you l...,0
1,2021-05-14 22:03:53,RT @ieEntertainment: #TuneFix | What are you l...,0
2,2021-05-14 19:40:08,Jaehyo was the one who suggested for Junhyung ...,0
3,2021-05-14 18:00:34,Tune Fix: From J Cole’s My Life to Axel Thesle...,0
4,2021-05-14 16:31:51,RT @ieEntertainment: #TuneFix | What are you l...,0
6,2021-05-13 16:40:10,Jaehyo was the one who suggested for Junhyung ...,0
7,2021-05-12 16:10:10,Jaehyo was the one who suggested for Junhyung ...,0
8,2021-05-11 16:01:12,RT @JuliusErving: Tune in to CBS This Morning ...,0
9,2021-05-11 15:10:07,Jaehyo was the one who suggested for Junhyung ...,0
10,2021-05-10 10:10:27,Jaehyo was the one who suggested for Junhyung ...,0
11,2021-05-09 05:40:02,Jaehyo was the one who suggested for Junhyung ...,0
12,2021-05-08 06:40:21,Jaehyo was the one who suggested for Junhyung ...,0

In [82]:
sort_jtune_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
5,2021-05-14 16:30:00,#TuneFix | What are you listening to this week...,8
0,2021-05-14 22:09:01,RT @ieEntertainment: #TuneFix | What are you l...,0
1,2021-05-14 22:03:53,RT @ieEntertainment: #TuneFix | What are you l...,0
2,2021-05-14 19:40:08,Jaehyo was the one who suggested for Junhyung ...,0
3,2021-05-14 18:00:34,Tune Fix: From J Cole’s My Life to Axel Thesle...,0

In [83]:
sort_jtune_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
8,2021-05-11 16:01:12,RT @JuliusErving: Tune in to CBS This Morning ...,0
9,2021-05-11 15:10:07,Jaehyo was the one who suggested for Junhyung ...,0
10,2021-05-10 10:10:27,Jaehyo was the one who suggested for Junhyung ...,0
11,2021-05-09 05:40:02,Jaehyo was the one who suggested for Junhyung ...,0
12,2021-05-08 06:40:21,Jaehyo was the one who suggested for Junhyung ...,0

In [87]:
sort_jtune_tweets_df.to_csv('files/jtune_ent_scraping_kor.csv')