# Switch To Me - Rain feat. JYP Tweet Scraping

In [1]:
from tweetkey import consumer_api_key, consumer_api_secret_key, access_token, access_secret_token

In [2]:
import tweepy
import pandas as pd
import time

In [3]:
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

# Switch To Me - Rain feat. JYP Tweet Scraping | Results in Korean

In [24]:
# search by the band group name and show the results for popular ones up to 150 items
# there is no popular for this one 
# try it for without the result_type
# try it for the mixed or recent for the result_type

# rain_jyp_tweets = tweepy.Cursor(api.search, q='ë‚˜ë¡œ ë°”ê¾¸ì', result_type='popular').items(150)
rain_jyp_tweets = tweepy.Cursor(api.search, q='ë‚˜ë¡œ ë°”ê¾¸ì', result_type='mixed').items(150)
    
rain_jyp_tweets_list = [[rain_jyp_tweet.created_at, rain_jyp_tweet.id, rain_jyp_tweet.text, 
                      rain_jyp_tweet.favorite_count] 
                     for rain_jyp_tweet in rain_jyp_tweets
                    ]
    
rain_jyp_tweets_df = pd.DataFrame(rain_jyp_tweets_list)

In [25]:
rain_jyp_tweets_df.head()

,0,1,2,3
0,2021-05-14 17:08:07,1393251794877239296,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
1,2021-05-14 16:31:36,1393242605396185092,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
2,2021-05-14 16:16:43,1393238855998791687,ì´ì¤€í˜¸ ëª¸ë§¤ ë‚˜ë¡œ ë°”ê¾¸ìì•„ì•„ì•„ì•„ì•„ ì œë°œ ë‚˜ë¡œ ë°”ê¾¸ìì•„ì•„ì•„ ì œë°œğŸ™ https://t....,1
3,2021-05-14 15:57:45,1393234086416719873,RT @milk_dimple: ë‚˜ë¡œë°”ê¾¸ì ì¶”ëŠ” ê¹€ë¯¼ì„ CUT \nâ€¼ï¸ê·€ì—¬ì›€ ì¹˜ì‚¬ëŸ‰ ...,0
4,2021-05-14 15:52:07,1393232665797545984,RT @milk_dimple: ë‚˜ë¡œë°”ê¾¸ì ì¶”ëŠ” ê¹€ë¯¼ì„ CUT \nâ€¼ï¸ê·€ì—¬ì›€ ì¹˜ì‚¬ëŸ‰ ...,0

In [26]:
rain_jyp_tweets_df.tail()

,0,1,2,3
110,2021-05-07 15:19:44,1390687803785179140,@nyong_taetae ë‚˜ë¡œë°”ê¾¸ìì•„ì•„ì•„ì•„ì•„ì•„ì•™,0
111,2021-05-07 14:43:41,1390678728456429570,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
112,2021-05-07 09:20:25,1390597375412998156,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
113,2021-05-07 08:09:40,1390579571976671234,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
114,2021-05-07 03:23:20,1390507513087369219,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0

In [27]:
rain_jyp_tweets_df

,0,1,2,3
0,2021-05-14 17:08:07,1393251794877239296,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
1,2021-05-14 16:31:36,1393242605396185092,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
2,2021-05-14 16:16:43,1393238855998791687,ì´ì¤€í˜¸ ëª¸ë§¤ ë‚˜ë¡œ ë°”ê¾¸ìì•„ì•„ì•„ì•„ì•„ ì œë°œ ë‚˜ë¡œ ë°”ê¾¸ìì•„ì•„ì•„ ì œë°œğŸ™ https://t....,1
3,2021-05-14 15:57:45,1393234086416719873,RT @milk_dimple: ë‚˜ë¡œë°”ê¾¸ì ì¶”ëŠ” ê¹€ë¯¼ì„ CUT \nâ€¼ï¸ê·€ì—¬ì›€ ì¹˜ì‚¬ëŸ‰ ...,0
4,2021-05-14 15:52:07,1393232665797545984,RT @milk_dimple: ë‚˜ë¡œë°”ê¾¸ì ì¶”ëŠ” ê¹€ë¯¼ì„ CUT \nâ€¼ï¸ê·€ì—¬ì›€ ì¹˜ì‚¬ëŸ‰ ...,0
...,...,...,...,...
110,2021-05-07 15:19:44,1390687803785179140,@nyong_taetae ë‚˜ë¡œë°”ê¾¸ìì•„ì•„ì•„ì•„ì•„ì•„ì•™,0
111,2021-05-07 14:43:41,1390678728456429570,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
112,2021-05-07 09:20:25,1390597375412998156,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
113,2021-05-07 08:09:40,1390579571976671234,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
114,2021-05-07 03:23:20,1390507513087369219,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0

In [28]:
rain_jyp_tweets_df[0] = pd.to_datetime(rain_jyp_tweets_df[0]).dt.date
# rain_jyp_tweets_df

In [29]:
cleaned_jyp_kor = rain_jyp_tweets_df.drop([1], axis = 1)
# cleaned_jyp_kor

In [30]:
cleaned_jyp_kor_df = cleaned_jyp_kor.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
cleaned_jyp_kor_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-14,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
1,2021-05-14,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
2,2021-05-14,ì´ì¤€í˜¸ ëª¸ë§¤ ë‚˜ë¡œ ë°”ê¾¸ìì•„ì•„ì•„ì•„ì•„ ì œë°œ ë‚˜ë¡œ ë°”ê¾¸ìì•„ì•„ì•„ ì œë°œğŸ™ https://t....,1
3,2021-05-14,RT @milk_dimple: ë‚˜ë¡œë°”ê¾¸ì ì¶”ëŠ” ê¹€ë¯¼ì„ CUT \nâ€¼ï¸ê·€ì—¬ì›€ ì¹˜ì‚¬ëŸ‰ ...,0
4,2021-05-14,RT @milk_dimple: ë‚˜ë¡œë°”ê¾¸ì ì¶”ëŠ” ê¹€ë¯¼ì„ CUT \nâ€¼ï¸ê·€ì—¬ì›€ ì¹˜ì‚¬ëŸ‰ ...,0
...,...,...,...
110,2021-05-07,@nyong_taetae ë‚˜ë¡œë°”ê¾¸ìì•„ì•„ì•„ì•„ì•„ì•„ì•™,0
111,2021-05-07,RT @ENHYPEN_members: í˜„ì¬ ì—”í•˜ì´í”ˆ ì°¨íŠ¸ 2ì£¼ì§¸ 1ìœ„ë¥¼ ë‹¬ë¦¬ê³ ìˆëŠ” ...,0
112,2021-05-07,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
113,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0
114,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0

In [31]:
top_5_bot_5_popular_jype = cleaned_jyp_kor_df.sort_values(by="Popularity Count", ascending=False)

In [32]:
top_5_bot_5_popular_jype.head(5)

,Tweeted Date,Tweet Description,Popularity Count
63,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
11,2021-05-14,.@followjyp on MelOn Daily Chart (210513)\n\n7...,17
48,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
25,2021-05-13,ë‚˜ë¡œ ë°”ê¾¸ì https://t.co/jYouBTMj89,13
32,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12

In [33]:
top_5_bot_5_popular_jype.tail()

,Tweeted Date,Tweet Description,Popularity Count
39,2021-05-12,RT @ciShengWeiNi: @jueying2020 í˜¸ì¼ë„ì—ê²Œ ê²½ë„ë˜ì—ˆì„ë•Œ ê°€ë¬¸...,0
38,2021-05-12,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
37,2021-05-12,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
36,2021-05-12,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
114,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0

In [34]:
top_5_bot_5_popular_jype

,Tweeted Date,Tweet Description,Popularity Count
63,2021-05-11,.@followjyp on MelOn Daily Chart (210510)\n\n7...,21
11,2021-05-14,.@followjyp on MelOn Daily Chart (210513)\n\n7...,17
48,2021-05-12,.@followjyp on MelOn Daily Chart (210511)\n\n7...,16
25,2021-05-13,ë‚˜ë¡œ ë°”ê¾¸ì https://t.co/jYouBTMj89,13
32,2021-05-13,.@followjyp on MelOn Daily Chart (210512)\n\n6...,12
...,...,...,...
39,2021-05-12,RT @ciShengWeiNi: @jueying2020 í˜¸ì¼ë„ì—ê²Œ ê²½ë„ë˜ì—ˆì„ë•Œ ê°€ë¬¸...,0
38,2021-05-12,RT @JYPETWICE: DAHYUN &amp; CHAEYOUNG â€œë‚˜ë¡œ ë°”ê¾¸ì ...,0
37,2021-05-12,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
36,2021-05-12,RT @JYPETWICE: â€œë‚˜ë¡œ ë°”ê¾¸ì Switch to meâ€ by DAHYUN...,0
114,2021-05-07,RT @boong_sm: #ì—”ì‹œí‹°_23ëª…_ì ˆëŒ€ì§€ì¼œ\nìˆ˜ë§Œê¹…! ìê¾¸ ê·¸ëŸ¬ë©´ \n#ì—ìŠ¤...,0

In [35]:
top_5_bot_5_popular_jype.to_csv('files/switch-to-me_scraping_kor.csv')

# Switch To Me - JYP feat. Rain Tweet Scraping | Results in English

In [36]:
rain_jyp_eng_tweets = tweepy.Cursor(api.search, q='switch to me Rain', result_type='mixed').items(150)
    
rain_jyp_eng_tweets_list = [[rain_jyp_eng_tweet.created_at, rain_jyp_eng_tweet.id, rain_jyp_eng_tweet.text, 
                      rain_jyp_eng_tweet.favorite_count] 
                     for rain_jyp_eng_tweet in rain_jyp_eng_tweets
                    ]
    
rain_jyp_eng_tweets_df = pd.DataFrame(rain_jyp_eng_tweets_list)

In [37]:
rain_jyp_eng_tweets_df.head()

,0,1,2,3
0,2021-05-14 20:07:27,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14 17:08:07,1393251794877239296,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
2,2021-05-14 03:07:41,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
3,2021-05-13 18:03:02,1392903224047321093,RT @J_ONESONG: Han Jisung bbl ğŸ’­ wake up mini c...,0
4,2021-05-13 13:42:41,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0

In [38]:
rain_jyp_eng_tweets_df.tail()

,0,1,2,3
57,2021-05-07 20:35:04,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07 20:34:29,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07 20:24:03,1390764384398364674,RT @angelraiiin: looking for more mutuals! \nâ™¡...,0
60,2021-05-07 20:23:03,1390764134929780736,looking for more mutuals! \nâ™¡ï¸ not new to nsfw...,51
61,2021-05-07 17:00:04,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [39]:
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-14 20:07:27,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14 17:08:07,1393251794877239296,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
2,2021-05-14 03:07:41,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
3,2021-05-13 18:03:02,1392903224047321093,RT @J_ONESONG: Han Jisung bbl ğŸ’­ wake up mini c...,0
4,2021-05-13 13:42:41,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
...,...,...,...,...
57,2021-05-07 20:35:04,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07 20:34:29,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07 20:24:03,1390764384398364674,RT @angelraiiin: looking for more mutuals! \nâ™¡...,0
60,2021-05-07 20:23:03,1390764134929780736,looking for more mutuals! \nâ™¡ï¸ not new to nsfw...,51
61,2021-05-07 17:00:04,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [40]:
rain_jyp_eng_tweets_df[0] = pd.to_datetime(rain_jyp_eng_tweets_df[0]).dt.date
rain_jyp_eng_tweets_df

,0,1,2,3
0,2021-05-14,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14,1393251794877239296,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
2,2021-05-14,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
3,2021-05-13,1392903224047321093,RT @J_ONESONG: Han Jisung bbl ğŸ’­ wake up mini c...,0
4,2021-05-13,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
...,...,...,...,...
57,2021-05-07,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07,1390764384398364674,RT @angelraiiin: looking for more mutuals! \nâ™¡...,0
60,2021-05-07,1390764134929780736,looking for more mutuals! \nâ™¡ï¸ not new to nsfw...,51
61,2021-05-07,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [41]:
rain_jyp_eng_tweets_new_df = rain_jyp_eng_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
rain_jyp_eng_tweets_new_df

,Tweeted Date,1,Tweet Description,Popularity Count
0,2021-05-14,1393296921930915849,"This is 100% me when I study, but in the summe...",2
1,2021-05-14,1393251794877239296,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
2,2021-05-14,1393040289795690497,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
3,2021-05-13,1392903224047321093,RT @J_ONESONG: Han Jisung bbl ğŸ’­ wake up mini c...,0
4,2021-05-13,1392837707877937152,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
...,...,...,...,...
57,2021-05-07,1390767160608411649,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07,1390767009831530499,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07,1390764384398364674,RT @angelraiiin: looking for more mutuals! \nâ™¡...,0
60,2021-05-07,1390764134929780736,looking for more mutuals! \nâ™¡ï¸ not new to nsfw...,51
61,2021-05-07,1390713052505509888,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [42]:
rain_jyp_eng_tweets_cleaned_df = rain_jyp_eng_tweets_new_df.drop([1], axis = 1)
rain_jyp_eng_tweets_cleaned_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-14,"This is 100% me when I study, but in the summe...",2
1,2021-05-14,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
2,2021-05-14,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
3,2021-05-13,RT @J_ONESONG: Han Jisung bbl ğŸ’­ wake up mini c...,0
4,2021-05-13,RT @sugarray0503: NOT SHY BEARs - RAINxJYPâ€‹ - ...,0
...,...,...,...
57,2021-05-07,"RT @Gabybarata_: Switch to me- rain, jyp https...",0
58,2021-05-07,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
59,2021-05-07,RT @angelraiiin: looking for more mutuals! \nâ™¡...,0
60,2021-05-07,looking for more mutuals! \nâ™¡ï¸ not new to nsfw...,51
61,2021-05-07,@Grunt4lif @Julius_Kim @HStarshot Lady Clairol...,1

In [43]:
sort_rain_eng_tweets = rain_jyp_eng_tweets_cleaned_df.sort_values(by="Popularity Count", ascending=False)
sort_rain_eng_tweets.head()

,Tweeted Date,Tweet Description,Popularity Count
58,2021-05-07,"Switch to me- rain, jyp https://t.co/SGZpYLPS4Q",83
60,2021-05-07,looking for more mutuals! \nâ™¡ï¸ not new to nsfw...,51
16,2021-05-11,RAIN with JYP - Switch to me #KPOPNaRadioRadic...,6
29,2021-05-08,switch to meã®JYPã¨RAINã‚ªãƒƒãƒ‘ã‚«ãƒƒã‚³ã‚ˆã™ãã‚‹âœ¨âœ¨\nã„ã¤ã‹ã¯ãƒ¬ã‚¤ãƒ³ã‚ªãƒƒãƒ‘ã¿...,5
8,2021-05-13,Have you been exploring #nature this #MentalHe...,5

In [44]:
sort_rain_eng_tweets.tail()

,Tweeted Date,Tweet Description,Popularity Count
1,2021-05-14,æ˜¨æ—¥ã®ã‚¸ãƒ£ã‚¯ã‚½ãƒ³ã¨ã®æ›²ä»¥å¤–ã«ã‚‚RAINã®æ›²ä½•ã‹ã‚ã‚‹ã‹ãªã£ã¦æ¼ã£ãŸã‚‰ã€JYPã¨ã®å¸«å¼Ÿã‚³ãƒ©ãƒœãŒã‚...,0
5,2021-05-13,RT @suppinmindscot: Have you been exploring #n...,0
33,2021-05-08,RT @angelraiiin: looking for more mutuals! \nâ™¡...,0
34,2021-05-08,RT @angelraiiin: looking for more mutuals! \nâ™¡...,0
31,2021-05-08,"RT @Gabybarata_: Switch to me- rain, jyp https...",0

In [45]:
rain_jyp_eng_tweets_cleaned_df.to_csv('files/switch-to-me_scraping_eng.csv')

# Search Results For Rain (ë¹„)

In [50]:
rain_tweets = tweepy.Cursor(api.search, q='RAIN ë¹„', result_type='mixed').items(150)
    
rain_tweets_list = [[rain_tweet.created_at, rain_tweet.id, rain_tweet.text, 
                      rain_tweet.favorite_count] 
                     for rain_tweet in rain_tweets
                    ]
    
rain_tweets_df = pd.DataFrame(rain_tweets_list)

In [51]:
rain_tweets_df

,0,1,2,3
0,2021-05-09 04:18:55,1391246279666065410,ë¹„ ë§ìœ¼ë©´ ë‚˜ì²˜ëŸ¼ ë¨¸ë¦¬ê°€ ë¶€í‘¼ë‹¤^^\n\n(2Z youtube All i need ...,652
1,2021-05-14 23:33:24,1393348751704657924,RT @JinwonJung: ì•„ë“¤ë˜ë¯¸ê°€ ë¦¬ë“¬ê²Œì„ í–ˆë˜ ì´ì•¼ê¸°ë¥¼ í•˜ë©´ì„œ í…œí¬ê°€ ëŠë ¤ì§€...,0
2,2021-05-14 23:32:28,1393348516374716425,RT @Limbic_Psych: ì§€ê¸ˆ ì½ëŠ” ì±…ì—ì„œâ€¦\n\nìš°ìš¸ì¦ì¸ ì‚¬ëŒí•œí…Œ í˜ë‚´ë¼ ...,0
3,2021-05-14 23:23:52,1393346353074483203,RT @paulkim_twt: [#PaulKim]\n\nê·¸ë¦½ì§€ë§Œ ë‹¤ì‹œ ì˜¬ ê·¸ ë‚ ë“¤\...,0
4,2021-05-14 23:19:59,1393345375105261571,"ë¹„ê°€ ê·¸ì¹œ ì •ì›ì— ê½ƒì´ í”¼ì–´ìˆì—ˆì–´\në¶„ëª… ì´ì ê´œì°®ì„ê±°ì•¼\nê·¸ë˜, ë‹¤ìŒ ë¹„ ë‚´ë¦¬ëŠ” ...",0
...,...,...,...,...
145,2021-05-08 02:10:13,1390851500570669061,é›¨(ã‚ã‚): rain/é›¨/ë¹„/Ù…ÙØ·ÙØ±/lluvia/pluie/Regen #æ—¥æœ¬èªã€€...,0
146,2021-05-08 02:09:58,1390851439409319936,RT @ninonariArashi: ë„ë¡ ì´ˆë°˜ë¶€ í•´ì„\n.\n.\n.\ní•˜ì™€ì´ì—ì„œ ...,0
147,2021-05-08 02:07:41,1390850864357593091,@_rain_rain__ ë¹„ë‹˜...ì´ì—ìš”?,0
148,2021-05-08 01:53:48,1390847368531087361,RT @CHUNGHA_MNHent: [ğŸ“º] ì¼ì£¼ì¼ê°„ ì—´ì‹¬íˆ ë‹¬ë ¤ì˜¨ \në¹„ ì„ ë°°ë‹˜ê³¼ì˜...,0
149,2021-05-08 01:41:22,1390844241484595204,RT @sck0279: RAIN\nSOLO\n\n#ë¹„ #ì •ì§€í›ˆ #ë¹„ë£¡ \n#RAIN...,0

In [52]:
cleaned_rain_tweets_df = rain_tweets_df.drop([1], axis = 1)
# cleaned_rain_tweets_df

new_rain_tweets_df = cleaned_rain_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_rain_tweets_df

sort_rain_tweets_df = new_rain_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_rain_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-09 04:18:55,ë¹„ ë§ìœ¼ë©´ ë‚˜ì²˜ëŸ¼ ë¨¸ë¦¬ê°€ ë¶€í‘¼ë‹¤^^\n\n(2Z youtube All i need ...,652
71,2021-05-08 14:36:18,â€œì´ë ‡ê²Œ ê°€ë”ì€ ë©ˆì¶°ê°€ë„ ë¼\nì‰¬ì–´ë„ ë¼\në§ˆìŒì— ë¹„ê°€ ë‚´ë ¤ë„\nWhen this ...,16
45,2021-05-08 21:06:51,5/9 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒForbes Power Celebrity...,13
99,2021-05-08 09:43:51,"â€œì•„ë‹ˆ, ëˆ„ë‚˜!â€ ì¹´ë©”ë¼ ì•ì—ì„œ ê°€ì‹ì (?)ì´ë¼ëŠ” ê¹€íƒœí¬ ë§ì— ë¹„ê°€ ë³´ì¸ â€˜í˜„ì‹¤ë¶€ë¶€...",4
14,2021-05-14 21:25:26,ğŸğŸŒ¾ğŸŒ§ï¸\në¹„ê°€ ì˜¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤ \n#ë¹„ #rain #may,3
...,...,...,...
59,2021-05-08 16:03:53,Lee Hyo Jung â€“ After Rain (ì§€ë‚˜ê°€ëŠ” ë¹„) Lyrics http...,0
58,2021-05-08 16:04:47,"ë‚´ê°€ ë§Œì•½ ë¹„ì˜€ë‹¤ë©´, ê·¸ê²ƒì´ ì˜ì›íˆ ë§Œë‚˜ì§€ ì•ŠëŠ” í•˜ëŠ˜ê³¼ ëŒ€ì§€ë¥¼ ì´ì–´ë‘ë“¯, ì‚¬ëŒì˜ ë§ˆ...",0
57,2021-05-08 16:07:28,RT @KimTaeHeeTHfan: à¹€à¸šà¸·à¹‰à¸­à¸‡à¸«à¸¥à¸±à¸‡à¸–à¹ˆà¸²à¸¢à¸—à¸³à¹‚à¸†à¸©à¸“à¸² BODY...,0
56,2021-05-08 16:10:05,ì°¬ë€í•˜ê²Œ ë¹›ë‚˜ë˜ ì‹œê°„ì´ì—ˆë‹¤ê³ \në§‘ì€ ì—¬ë¦„ë¹„ì²˜ëŸ¼ ê³ ë§ˆì› ì—ˆë‹¤ê³ \n-ì—¬ë¦„ë¹„ (Summer...,0
149,2021-05-08 01:41:22,RT @sck0279: RAIN\nSOLO\n\n#ë¹„ #ì •ì§€í›ˆ #ë¹„ë£¡ \n#RAIN...,0

In [53]:
sort_rain_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
0,2021-05-09 04:18:55,ë¹„ ë§ìœ¼ë©´ ë‚˜ì²˜ëŸ¼ ë¨¸ë¦¬ê°€ ë¶€í‘¼ë‹¤^^\n\n(2Z youtube All i need ...,652
71,2021-05-08 14:36:18,â€œì´ë ‡ê²Œ ê°€ë”ì€ ë©ˆì¶°ê°€ë„ ë¼\nì‰¬ì–´ë„ ë¼\në§ˆìŒì— ë¹„ê°€ ë‚´ë ¤ë„\nWhen this ...,16
45,2021-05-08 21:06:51,5/9 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒForbes Power Celebrity...,13
99,2021-05-08 09:43:51,"â€œì•„ë‹ˆ, ëˆ„ë‚˜!â€ ì¹´ë©”ë¼ ì•ì—ì„œ ê°€ì‹ì (?)ì´ë¼ëŠ” ê¹€íƒœí¬ ë§ì— ë¹„ê°€ ë³´ì¸ â€˜í˜„ì‹¤ë¶€ë¶€...",4
14,2021-05-14 21:25:26,ğŸğŸŒ¾ğŸŒ§ï¸\në¹„ê°€ ì˜¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤ \n#ë¹„ #rain #may,3

In [54]:
sort_rain_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
59,2021-05-08 16:03:53,Lee Hyo Jung â€“ After Rain (ì§€ë‚˜ê°€ëŠ” ë¹„) Lyrics http...,0
58,2021-05-08 16:04:47,"ë‚´ê°€ ë§Œì•½ ë¹„ì˜€ë‹¤ë©´, ê·¸ê²ƒì´ ì˜ì›íˆ ë§Œë‚˜ì§€ ì•ŠëŠ” í•˜ëŠ˜ê³¼ ëŒ€ì§€ë¥¼ ì´ì–´ë‘ë“¯, ì‚¬ëŒì˜ ë§ˆ...",0
57,2021-05-08 16:07:28,RT @KimTaeHeeTHfan: à¹€à¸šà¸·à¹‰à¸­à¸‡à¸«à¸¥à¸±à¸‡à¸–à¹ˆà¸²à¸¢à¸—à¸³à¹‚à¸†à¸©à¸“à¸² BODY...,0
56,2021-05-08 16:10:05,ì°¬ë€í•˜ê²Œ ë¹›ë‚˜ë˜ ì‹œê°„ì´ì—ˆë‹¤ê³ \në§‘ì€ ì—¬ë¦„ë¹„ì²˜ëŸ¼ ê³ ë§ˆì› ì—ˆë‹¤ê³ \n-ì—¬ë¦„ë¹„ (Summer...,0
149,2021-05-08 01:41:22,RT @sck0279: RAIN\nSOLO\n\n#ë¹„ #ì •ì§€í›ˆ #ë¹„ë£¡ \n#RAIN...,0

In [85]:
sort_rain_tweets_df.to_csv('files/rain_scraping_eng.csv')

# Search Results For ì •ì§€í›ˆ (Jeong Ji-hoon)

In [74]:
rain_korean_tweets = tweepy.Cursor(api.search, q='ì •ì§€í›ˆ', result_type='mixed').items(150)
    
rain_korean_tweets_list = [[rain_korean_tweet.created_at, rain_korean_tweet.id, rain_korean_tweet.text, 
                      rain_korean_tweet.favorite_count] 
                     for rain_korean_tweet in rain_korean_tweets
                    ]
    
rain_korean_tweets_df = pd.DataFrame(rain_korean_tweets_list)

In [75]:
rain_korean_tweets_df

,0,1,2,3
0,2021-05-14 22:23:48,1393331238891520001,ê¹€ì—¬ë¦„\nì´íš¨ì„ ì´ë¯¸ìˆ™\nì •ì§€í›ˆ\nê¹€ì€ê²½\nê¹€ìƒê· \nê³ í˜„ì£¼\nê¹€ê²½ì• \në°•ì •ì–¸\nê¹€ì„±ì€...,0
1,2021-05-14 21:42:37,1393320872321208334,RT @cloudjjhph_: ğŸ¶ I Think I love you ğŸ¶\n\nğŸ“º F...,0
2,2021-05-14 21:20:59,1393315427002945537,ì •ì§€í›ˆ : ê·¸ë‚˜ì €ë‚˜ ì € ì—†ëŠ” ì‚¬ì´ì— ë³„ê²Œ ë‹¤ ë‚˜ì™”ë„¤ìš” U U* dlfrdjqhkdi...,0
3,2021-05-14 21:15:33,1393314063158030345,[#íƒ„]{Tan} Giornata delle Roseâ¤ Eccovi Tan al p...,3
4,2021-05-14 16:52:31,1393247868790599680,5/15 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒSeason B Season EP.35...,6
...,...,...,...,...
145,2021-05-10 23:38:31,1391900490007343105,ë¹„(RAIN) - æœ¬åï¼šì •ì§€í›ˆ 1982å¹´6æœˆ25æ—¥ç”Ÿã¾ã‚Œ èº«é•·185cm è¡€æ¶²å‹ã¯Oå‹ã€‚,0
146,2021-05-10 21:51:48,1391873633367191552,ã€ç¾éŸ“ã€‘ãƒãƒ§ãƒ³ãƒ»ã‚¸ãƒ•ãƒ³ï¼ˆãƒ”ï¼‰ã«æŠ•ç¥¨å®Œäº†ï¼ç¾åœ¨ã®å¾—ç¥¨æ•°:131ç¥¨\nãƒãƒ§ãƒ³ãƒ»ã‚¸ãƒ•ãƒ³ï¼ˆãƒ”ï¼‰ã€Œåƒ•ãŒ...,1
147,2021-05-10 21:12:39,1391863781823713282,5/11 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒForbes Power Celebrit...,15
148,2021-05-10 21:07:42,1391862536086061057,ì´ì„¸ë¯¼\nê¹€ë°±í˜¸\nìµœì¢…ê·¼\në¥˜ìœ ìƒ\nì´ê³ ì€\nê¹€ì˜ˆì§€\nê¹€ë¯¸ì„ \ní™©ì¬í™\nì‹ ì£¼ë¯¸\nì„...,0
149,2021-05-10 21:02:08,1391861134127341570,ì´ì„¸ë¯¼\nê¹€ë°±í˜¸\nìµœì¢…ê·¼\në¥˜ìœ ìƒ\nì´ê³ ì€\nê¹€ì˜ˆì§€\nê¹€ë¯¸ì„ \ní™©ì¬í™\nì‹ ì£¼ë¯¸\nì„...,0

In [76]:
cleaned_rain_korean_tweets_df = rain_korean_tweets_df.drop([1], axis = 1)
# cleaned_rain_korean_tweets_df

new_rain_korean_tweets_df = cleaned_rain_korean_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_rain_korean_tweets_df

sort_rain_korean_tweets_df = new_rain_korean_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_rain_korean_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
61,2021-05-13 12:07:38,ì •ì§€í›ˆë­í•˜ëƒê³ ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ https://t.co/YwJ1m8PdE0,27
147,2021-05-10 21:12:39,5/11 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒForbes Power Celebrit...,15
114,2021-05-12 09:40:43,ğŸ“£ Rain's birthday is coming up in June! We're ...,15
93,2021-05-12 21:05:48,5/13 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒSeason B Season EP.33...,14
64,2021-05-13 11:07:19,&lt;Season B Season&gt; Rainâ€™s New Vlog post i...,13
...,...,...,...
48,2021-05-13 16:16:48,RT @cloudjjhph_: &lt;Season B Season&gt; Rainâ€™...,0
47,2021-05-13 16:16:52,RT @_hannahssi_: #SeasonBseason Ep 35\nâš ë„·ì´ í•©ì³ ...,0
46,2021-05-13 16:16:57,"RT @Freesia_29: [ê¸°ì‚¬] 2021.5.13 â€˜ì‹±ì–´ê²Œì¸â€™ ì´ë¬´ì§„, ë¹„ ë§Œ...",0
45,2021-05-13 16:17:06,RT @cloudjjhph_: &lt;Season B Season&gt; \nSin...,0
149,2021-05-10 21:02:08,ì´ì„¸ë¯¼\nê¹€ë°±í˜¸\nìµœì¢…ê·¼\në¥˜ìœ ìƒ\nì´ê³ ì€\nê¹€ì˜ˆì§€\nê¹€ë¯¸ì„ \ní™©ì¬í™\nì‹ ì£¼ë¯¸\nì„...,0

In [77]:
sort_rain_korean_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
61,2021-05-13 12:07:38,ì •ì§€í›ˆë­í•˜ëƒê³ ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ https://t.co/YwJ1m8PdE0,27
147,2021-05-10 21:12:39,5/11 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒForbes Power Celebrit...,15
114,2021-05-12 09:40:43,ğŸ“£ Rain's birthday is coming up in June! We're ...,15
93,2021-05-12 21:05:48,5/13 RAIN(ãƒ”)LOVE2 Blogè¨˜äº‹ã€ŒSeason B Season EP.33...,14
64,2021-05-13 11:07:19,&lt;Season B Season&gt; Rainâ€™s New Vlog post i...,13

In [78]:
sort_rain_korean_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
48,2021-05-13 16:16:48,RT @cloudjjhph_: &lt;Season B Season&gt; Rainâ€™...,0
47,2021-05-13 16:16:52,RT @_hannahssi_: #SeasonBseason Ep 35\nâš ë„·ì´ í•©ì³ ...,0
46,2021-05-13 16:16:57,"RT @Freesia_29: [ê¸°ì‚¬] 2021.5.13 â€˜ì‹±ì–´ê²Œì¸â€™ ì´ë¬´ì§„, ë¹„ ë§Œ...",0
45,2021-05-13 16:17:06,RT @cloudjjhph_: &lt;Season B Season&gt; \nSin...,0
149,2021-05-10 21:02:08,ì´ì„¸ë¯¼\nê¹€ë°±í˜¸\nìµœì¢…ê·¼\në¥˜ìœ ìƒ\nì´ê³ ì€\nê¹€ì˜ˆì§€\nê¹€ë¯¸ì„ \ní™©ì¬í™\nì‹ ì£¼ë¯¸\nì„...,0

In [86]:
sort_rain_korean_tweets_df.to_csv('files/rain_scraping_kor.csv')

# Search Results in J. Tune Entertainment (owned by RAIN)

In [79]:
jtune_tweets = tweepy.Cursor(api.search, q='J. Tune Entertainment', result_type='mixed').items(150)
    
jtune_tweets_list = [[jtune_tweet.created_at, jtune_tweet.id, jtune_tweet.text, 
                      jtune_tweet.favorite_count] 
                     for jtune_tweet in jtune_tweets
                    ]
    
jtune_tweets_df = pd.DataFrame(jtune_tweets_list)

In [80]:
jtune_tweets_df

,0,1,2,3
0,2021-05-14 22:09:01,1393327516987772933,RT @ieEntertainment: #TuneFix | What are you l...,0
1,2021-05-14 22:03:53,1393326226996043778,RT @ieEntertainment: #TuneFix | What are you l...,0
2,2021-05-14 19:40:08,1393290050239008769,Jaehyo was the one who suggested for Junhyung ...,0
3,2021-05-14 18:00:34,1393264993311756288,Tune Fix: From J Coleâ€™s My Life to Axel Thesle...,0
4,2021-05-14 16:31:51,1393242665064435712,RT @ieEntertainment: #TuneFix | What are you l...,0
5,2021-05-14 16:30:00,1393242200146735104,#TuneFix | What are you listening to this week...,8
6,2021-05-13 16:40:10,1392882372895383553,Jaehyo was the one who suggested for Junhyung ...,0
7,2021-05-12 16:10:10,1392512435026731009,Jaehyo was the one who suggested for Junhyung ...,0
8,2021-05-11 16:01:12,1392147789619073028,RT @JuliusErving: Tune in to CBS This Morning ...,0
9,2021-05-11 15:10:07,1392134935071264770,Jaehyo was the one who suggested for Junhyung ...,0
10,2021-05-10 10:10:27,1391697130805288964,Jaehyo was the one who suggested for Junhyung ...,0
11,2021-05-09 05:40:02,1391266690613202949,Jaehyo was the one who suggested for Junhyung ...,0
12,2021-05-08 06:40:21,1390919481950498820,Jaehyo was the one who suggested for Junhyung ...,0

In [81]:
cleaned_jtune_tweets_df = jtune_tweets_df.drop([1], axis = 1)
# cleaned_jtune_tweets_df

new_jtune_tweets_df = cleaned_jtune_tweets_df.rename(columns={0: "Tweeted Date", 2: "Tweet Description", 3: "Popularity Count"})
# new_jtune_tweets_df

sort_jtune_tweets_df = new_jtune_tweets_df.sort_values(by="Popularity Count", ascending=False)
sort_jtune_tweets_df

,Tweeted Date,Tweet Description,Popularity Count
5,2021-05-14 16:30:00,#TuneFix | What are you listening to this week...,8
0,2021-05-14 22:09:01,RT @ieEntertainment: #TuneFix | What are you l...,0
1,2021-05-14 22:03:53,RT @ieEntertainment: #TuneFix | What are you l...,0
2,2021-05-14 19:40:08,Jaehyo was the one who suggested for Junhyung ...,0
3,2021-05-14 18:00:34,Tune Fix: From J Coleâ€™s My Life to Axel Thesle...,0
4,2021-05-14 16:31:51,RT @ieEntertainment: #TuneFix | What are you l...,0
6,2021-05-13 16:40:10,Jaehyo was the one who suggested for Junhyung ...,0
7,2021-05-12 16:10:10,Jaehyo was the one who suggested for Junhyung ...,0
8,2021-05-11 16:01:12,RT @JuliusErving: Tune in to CBS This Morning ...,0
9,2021-05-11 15:10:07,Jaehyo was the one who suggested for Junhyung ...,0
10,2021-05-10 10:10:27,Jaehyo was the one who suggested for Junhyung ...,0
11,2021-05-09 05:40:02,Jaehyo was the one who suggested for Junhyung ...,0
12,2021-05-08 06:40:21,Jaehyo was the one who suggested for Junhyung ...,0

In [82]:
sort_jtune_tweets_df.head()

,Tweeted Date,Tweet Description,Popularity Count
5,2021-05-14 16:30:00,#TuneFix | What are you listening to this week...,8
0,2021-05-14 22:09:01,RT @ieEntertainment: #TuneFix | What are you l...,0
1,2021-05-14 22:03:53,RT @ieEntertainment: #TuneFix | What are you l...,0
2,2021-05-14 19:40:08,Jaehyo was the one who suggested for Junhyung ...,0
3,2021-05-14 18:00:34,Tune Fix: From J Coleâ€™s My Life to Axel Thesle...,0

In [83]:
sort_jtune_tweets_df.tail()

,Tweeted Date,Tweet Description,Popularity Count
8,2021-05-11 16:01:12,RT @JuliusErving: Tune in to CBS This Morning ...,0
9,2021-05-11 15:10:07,Jaehyo was the one who suggested for Junhyung ...,0
10,2021-05-10 10:10:27,Jaehyo was the one who suggested for Junhyung ...,0
11,2021-05-09 05:40:02,Jaehyo was the one who suggested for Junhyung ...,0
12,2021-05-08 06:40:21,Jaehyo was the one who suggested for Junhyung ...,0

In [87]:
sort_jtune_tweets_df.to_csv('files/jtune_ent_scraping_kor.csv')